[2018-01-12 21:22] semaphoreP opened #2 "Implement PTMCMC Sampler"
Get it working for a 1 planet, imaging-only dataset

[2018-01-12 21:23] semaphoreP opened #3 "Need Keplerian orbit solvers"
I have the code. I need to put it in and make it usable. A stretch goal is to add Rob's eccentricity solver

[2018-01-12 21:23] semaphoreP opened #4 "Implement OFTI sampler"
Get it working for 1 planet with only imaging data.

[2018-01-12 21:24] semaphoreP opened #5 "Implement read in data from text files"
At least support CSV for now. Include some documentation on what the format should be.

[2018-01-12 21:25] semaphoreP opened #6 "Set up a Continuous Integration system"
E.g., travis. Also means we need some tests.

[2018-01-12 21:25] semaphoreP opened #7 "Set up docs site"
Set up a readthedocs site. Doesn't have to have anything.

[2018-01-12 22:30] semaphoreP opened #8 "Handle instrument calibration uncertainties"
We should be able to marginalize over plate scale/north angle uncertainties.

[2018-01-17 21:26] sblunt opened #9 "Create tutorials"
Goal for now is one for basic fitting with OFTI and one for basic fitting with MCMC. Add more as code capabilities expand.

[2018-01-17 21:35] sblunt commented on #4
@logan-pearce: see skeleton code in sampler.py. For now, focus on filling in the basic stuff (no speedups yet). Let me know if you'd like to split up the work in any way.

[2018-01-17 22:52] logan-pearce commented on #4
Thanks!  I will work on this and let you know if I have questions.

Sent from my iPhone

[2018-01-18 00:33] sblunt opened #10 "Add priors to priors.py"
Would be great to have more than one prior! Specifically, adding a uniform bounded prior and a linear prior (with parameters m, b of y=mx+b) (and any others you think might be useful) would be very helpful. For drawing samples from an arbitrary distribution, see: en.wikipedia.org/wiki/Inverse_transform_sampling.

[2018-01-18 00:46] henry-ngo commented on #2
As I wrote in the Slack channel, there's a package out there by Olivier Wertz that does an MCMC orbit fit. (https://github.com/vortex-exoplanet/PyAstrOFit). Worth taking a look to see how it compares with @semaphoreP module and whether there's stuff worth adding and/or implementing O. Wertz's code as a separate sampler (Olivier Absil mentioned this to me and that Wertz would probably be willing to

[2018-01-18 00:52] sblunt opened #11 "Basic Plotting Capabilities"
The end result of a bout of orbit-fitting will be an mxn array of orbital parameters, where m is the number of fitted parameters (e.g. semi-major axis), and n is the number of steps (in the case of MCMC) or accepted orbits (in the case of OFTI). Create a new file in `orbitize/orbitize` that will handle plot creation. Create two classes, one for triangle plots (use the `corner` Python package for t

[2018-01-18 00:56] semaphoreP commented on #2
I skimmed over it and it just looks like it uses the emcee affine invariant sampler, with a GR metric for figuring out when it would stop. I'm not sure this is significantly different than what I was going to do: basically a wrapper for emcee's parallel tempered affine invariant sampler. Basically, I think either way it's just a wrapper to the emcee package, so I don't think it would be too differ

[2018-01-18 06:21] sblunt commented on #7
Done! `orbitize.readthedocs.io` is perfect and beautiful and I love it.

[2018-01-18 06:21] #7 closed

[2018-01-30 11:19] #6 closed

[2018-01-30 11:34] sblunt commented on #3
@devincody I'm assigning this issue to you if you're still interested.

TODO:
- Modify `kepler.calc_orbit()` so it can take in arrays of orbital parameters.
- Port this version to C, and do some speed tests. Identify when the Python code is faster (probably never, but good to check), and quantify the speed improvements.
- Use `cython` to make the C code work with the rest of our package. The code

[2018-01-30 11:36] sblunt commented on #3
I can't seem to assign this issue to @devincody without un-assigning @semaphoreP. Devin, can you assign yourself to this issue?

[2018-01-31 01:25] semaphoreP commented on #3
The only thing that may benefit from being written in c is probably the iterative eccentricity solver. The rest (including the part that calls astropy functions) should be just as fast in python. I'm going to close this issue and make the TODOs to make `kepler.calc_orbit()` take in arrays of orbital parameters as well as faster c code into separate issues.

[2018-01-31 01:25] #3 closed

[2018-01-31 01:29] semaphoreP opened #16 "Pass in multiple sets of orbital parameters into kepler.py"
Especially for OFTI, it'd be great to pass in arrays of orbital parameters into `kepler.calc_orbit`.

Basically the `epochs` argument can be of length M and the `sma`, `ecc`, etc arguments can be of length N, and the return values (e.g., `raoff`) should be of dimension NxM.

This will requiring formatting the code to angle scalars/1-D vectors at the same time, as well as 1-D/2-D vectors at the sam

[2018-01-31 01:31] semaphoreP opened #17 "Make the Kepler equation solver faster"
We can probably use `cython` to make the iterative solver for eccentric anomaly faster. It should check though if `cython` is supported on the user machine, and default back to the python solver if needed.

[2018-02-01 00:11] henry-ngo commented on #16
Okay so the branch vectorize_kepler has some basic functionality for passing in arrays of orbital parameters now! From my commit notes:

For calculations with 2-D arrays, currently looping through the "epochs" dimension (number of dates) because 1) it's likely to be smaller and 2) it prevents a lot of issues where sometimes we need to treat a keplerian element as a vector vs. a scalar.

The except

[2018-02-12 02:29] #5 closed

[2018-02-12 02:51] sblunt commented on #17
@devincody another thing you could work on is eliminating the `for` loops in `orbitize.kepler.calc_orbit()` using 2d array indexing.

[2018-02-12 02:57] sblunt commented on #16
Thanks again for working on this, Henry. To answer your questions:

1. Yes, we will eventually want to take in a value and some uncertainties on the system mass, so it would be good to extend that to an array. Will the code as-is just work with mass as an array (in which case we'd just update the docs), or are there some modifications to make?
2. Yes, this is definitely the vectorization I had in

[2018-02-12 03:07] sblunt commented on #16
One more small thing: in the docstring for `calc_orbit`, there's an incomplete line:

`mtot (np.array): total mass [Solar masses]. Note that this is`

[2018-02-12 16:07] henry-ngo commented on #16
Just a tiny modification needed for an array input for mtot, plus finishing off that doc line. I'll update it soon!

[2018-02-12 16:08] henry-ngo commented on #16
I think it would also be easy for me to add Jason's suggestion to eliminate for loops too, just have to convert scalar input into np.array, I think!

[2018-02-12 18:03] sblunt commented on #17
Just kidding about that last comment. Henry is working on it!

[2018-02-12 18:05] sblunt commented on #16
I'm going to close this issue after you change the `mtot` code, since I think the original problem has been addressed. I'll open a new issue so y'all can talk about the best way to vectorize `kepler.py()`.

[2018-02-12 18:10] sblunt opened #20 "Speed up `numpy` implementation of `kepler.py`"
- turn `for` loops into vector array operations

[2018-02-22 00:43] sblunt commented on #16
@henry-ngo this issue has been addressed, right?

[2018-02-22 02:59] henry-ngo commented on #16
yes! :)

[2018-02-22 02:59] #16 closed

[2018-04-24 06:39] semaphoreP opened #25 "Remove explicit indexing into 'number of models dimension'"
The issue is that MCMC doesn't need to run a bunch of orbits at once normally, whereas OFTI does. However, if we put "number of models" as the leading dimension, then everything needs to be index it explicitly (e.g., `raoff[model_number, epoch_number]`). It would make things easier if we put "number of models" as the last dimension so that we don't have to think about it when not programming expli

[2018-04-26 18:26] semaphoreP commented on #2
Implemented a version in PR #26. Let's close this issue and open up bugs on it as new issues.

[2018-04-26 18:26] #2 closed

[2018-04-26 18:28] semaphoreP opened #27 "Incorporating Stellar RV posterior fits as priors"
Because dynamical masses are nice. Should be straightforward, but making an issue to keep track of it.

[2018-04-26 18:34] semaphoreP opened #28 "Restrict angles to be single peaked"
Without RVs, imaging astrometry has argument of periastron and longitude of ascending node doubly peaked, with the peaks 180 degrees apart. The distribution is identical between [0,180) and [180,360). Sampling multimodal distributions with MCMC is annoying, so it'd be nice if we had the option to only sample in the [0,180) degree range when we want to be lazy.

Technically, I think this just requi

[2018-04-26 18:35] rjderosa opened #29 "correct calculation of difference between two angles"
`chi2_lnlike` function should compute the difference between an model (ang1) and observed (ang2) position angle as

`ang1-ang2 = np.arctan2(np.sin(ang1 - ang2), np.cos(ang1 - ang2))`

so the function will have to be know what the unit of the data is. If it's of type u.rad/u.deg, then it has to use this rather than the simple data-model.

[2018-04-26 18:36] semaphoreP commented on #10
I added a lot of these in PR #26 but there's still the linear prior left to go. Let's try to finish this soon!

[2018-04-26 18:39] sblunt opened #30 "Make sure everything is pickleable and implement multiprocessing for MCMC"

[2018-06-18 05:05] semaphoreP commented on #29
Fixed in PR #31 by @sblunt

[2018-06-18 05:05] #29 closed

[2018-06-18 05:05] semaphoreP commented on #25
Fixed in PR #31 by @sblunt. Closing now.

[2018-06-18 05:06] #25 closed

[2018-06-18 05:07] semaphoreP commented on #28
Added in PR #31 by @sblunt. Should we add a test for it in the future?

[2018-06-18 05:07] #28 closed

[2018-06-27 18:28] sblunt commented on #28
@semaphoreP I just added a few lines of code that automatically check whether a dataset is imaging-only and respond accordingly. Is this the kind of test you mean?

[2018-06-27 18:54] semaphoreP commented on #28
Not sure what I meant anymore... I think it was related to writing a pytest for this issue, but I don't know what kind of test I was referring to anymore (doesn't seem like there's a useful one).

In your update, I think restrict_angle_ranges should have a default of None. If the user sets it to True or False, we should blindly accept it. But if it's none, then do the imaging-only check. Otherwise

[2018-06-29 21:19] semaphoreP opened #33 "Multiprocessing for OFTI"
After we get the OFTI sampler working (after Issue #4 )

[2018-06-29 21:23] semaphoreP commented on #9
- Background on how to do orbit fits
- Offer some example datasets that demonstrate OFTI and MCMC uses
- Example code for orbit fitting for each algorithm
- Example plots that show how to display the outputs

[2018-06-29 21:54] semaphoreP opened #34 "Add label for each parameter in the systems class"
This should be a field in the `System` class that lists the labels (e.g., 'a', 'e') for each parameter so we (humans) know which parameter each is. We could consider using 'a1', 'e2' to help separate multiple planets.

[2018-06-29 22:11] henry-ngo commented on #34
Noticed that `System` currently has this description of parameter ordering for priors in its docstring

[code]

We should have a uniform way of numbering objects/planets, whether it's letters or numbers.  I would suggest using numbers instead of letters now to denote objects and maybe even an underscore to avoid confusion with exponents (i.e. using 'e_2' instead of 'e2' makes it more clear that it

[2018-07-03 16:41] henry-ngo commented on #30
Great! :)

[2018-07-03 23:07] semaphoreP commented on #30
Ok, I think tests/test_mcmc.py has the bare-bones code needed to get the MCMC sampler running. Let me know if you have any questions/issues getting it running. If system.py is pickleable, hopefully, it should run parallelized by specifying number of threads when creating the emcee sampler!

[2018-07-04 21:19] henry-ngo opened #37 "PTMCMCSampler: View / chop MCMC chain and update Results object"
From #35

To be completed after multi-threaded MCMC is complete (#30)

[2018-07-05 23:40] logan-pearce opened #38 "Parallax in mas vs arcseconds"
driver.py takes parallax in arcseconds, while kepler.calc_orbit takes parallax input in mas.  Which one should be the standard?

[2018-07-06 00:21] sblunt commented on #38
We should believe `kepler.calc_orbit`. @logan-pearce, feel free to fix this in `driver.py`, or let me know and I can fix it.

[2018-07-17 21:48] #34 closed

[2018-07-19 18:43] sblunt commented on #30
Addressed in PR #39.

[2018-07-19 18:43] #30 closed

[2018-07-20 18:34] semaphoreP commented on #38
We determined @sblunt was going to do this quick fix in `driver.py`

[2018-07-20 18:38] semaphoreP opened #40 "Test Cpp Kepler solver on Windows"
Make sure we can install and compile it.

[2018-07-20 21:12] semaphoreP opened #41 "Test MCMC sampler on Beta Pic b orbit"
@semaphoreP (me): Make a input data file with the Beta pic b astrometry

Then, @henry-ngo and I can run it, and do some end-to-end validation.

[2018-07-23 05:28] henry-ngo opened #43 "Should system.System mass_err and plx_err be attributes?"
It looks like we can initialize system.System with a mass_err and plx_err but they aren't saved as attributes in the class definition so there's no way to access them later (e.g. I'm trying to do so when creating a results.Results object).

On a similar note, it doesn't look like system.System has a mass or plx attribute either, but instead has abs_system_mass and abs_plx? Is this intentional to h

[2018-07-24 16:56] semaphoreP commented on #43
What's your use-case for them in `Results`? I agree with should probably save and document those fields better. We're currently using abs_plx and abs_system_mass as internal fields for when they are fixed (with no errors), rather than sampled by the MCMC, so there might be room for a more public field for system mass and parallax.

[2018-07-24 23:54] henry-ngo commented on #43
I don't have an exact use case in mind for `Results` but I could imagine these values being important if we want to enable plotting of derived/calculated values instead of just the fitted values (e.g. plotting projected separation in au instead of arcsec, periods instead of semimajor axis etc.)

However, the main reason I asked was because Sarah's skeleton for Results defines mass_err and plx_err

[2018-07-25 00:03] semaphoreP commented on #43
Ah right. I think the two situations are:

1) mass_err and plx_err are passed, so the sampler should be sampling them from Gaussian posteriors. In this case we shouldn't need to come back to the system class to plot them in au since that sample from the chain should have the corresponding parallax and stellar mass for that set of parameters.
2) mass_err and plx_err are not passed. In this case, we

[2018-07-25 02:43] henry-ngo commented on #43
Ah okay. I see now that mass and parallax is part of the chain/post array so this solves the issue of having the mass and plx in the Results class.

So if I interpret everything correctly, `Results` doesn't need to know mass_err or plx_err at all, since if we used them in Sampler, the chain would already reflect that. And if not, the chain would reflect that too.

So, is it okay to remove the mass

[2018-07-25 22:40] sblunt commented on #43
Hey all! Thanks for your patience.

Yes, @semaphoreP's two cases are exactly what I was imaging. @henry-ngo, feel free to remove `mass_err` and `plx_err` from the `Results` class.

[2018-07-25 22:40] #43 closed

[2018-07-25 23:09] sblunt commented on #38
Addressed in commit 4c789b1627f7c0ff3f5431a8fb947c6409f62598.

[2018-07-25 23:10] #38 closed

[2018-07-26 00:04] sblunt commented on #10
Linear prior added in commit 27e72cff57d4d645356d45631d52cee9e41db518. I think we have all the v1.0 priors now!

[2018-07-26 00:04] #10 closed

[2018-08-09 17:09] semaphoreP opened #44 "lnlike not working with multiple orbits"
lnlike, as per the docstring, should run with an extra dimension being different orbital parameter sets. @isabelangelo says this is not working right now so we should fix that. She will update her branch, and we can reproduce the bug running OFTI from her branch.

[2018-08-09 17:16] henry-ngo commented on #37
Updating with notes from Slack last month.

Plotting the posteriors should be in Results and generic. Walker examination is something only MCMC would do so plotting that in Sampler makes sense.

For PTMCMC, the user could create a Results object for each temperature they care about. I'll have a separate "create_results" or something like that method in the PTMCMC and EnsembleMCMC classes that trea

[2018-08-09 17:39] semaphoreP commented on #44
Looks like to me this is failing when `seppa_indicies` is not empty, since the code to handle PA data doesn't account for this possible third dimension.

[2018-08-09 22:14] semaphoreP commented on #44
We fixed it in commit aff391. Can be merged into master after Issue #4 is finished. Solution was a little awkward, so could revisit how we're handling `model` inputs (2-D vs 3-D) in the future.

[2018-08-09 22:14] #44 closed

[2018-08-14 01:21] semaphoreP opened #45 "Ordering of orbital elements"
We should make `system.py` and `sampler.py` use the same ordering of orbital elements, and make it less arbitrary. Henry suggested the following order that makes more sense:

Code for both samplers as well as system.py need to be modified to support this.

[2018-08-15 20:35] sblunt commented on #40
Addressed in PR #46.

[2018-08-15 20:35] #40 closed

[2018-08-15 20:35] sblunt commented on #17
Addressed in PR #46.

[2018-08-15 20:35] #17 closed

[2018-08-16 17:17] isabelangelo opened #47 "make progress bar for OFTI and MCMC"
print how many orbits have been accepted out of the desired number of output orbits (standardize this for OFTI and MCMC

[2018-08-23 19:36] henry-ngo opened #49 "Ordering of results posterior sample array (results.Results.post)"
The API (written by @Sarah Blunt) specifies that the posterior sample array (or orbits) is a 2D array with shape (num_parameters, num_samples)

However, for MCMC output and input to corner etc. the 2D posterior sample array usually has shape (num_samples,num_parameters).

For now, I will proceed with the MCMC and corner.py standard but if OFTI is already implemented the opposite way, we can switch

[2018-08-24 16:17] henry-ngo opened #50 "plot_orbits with customizable color axis"
From Rob: A nice functionality might be to specify what parameter you want on the color axis. while date can look cool, so can things like eccentricity (as jason’s nice plot of 51 eri shows)

[2018-09-04 17:32] isabelangelo opened #53 "create dictionary in system to help index output orbits"
create a dictionary in the system class that contains the orbital parameters and their corresponding indices that are output by OFTI/MCMC (useful for plotting)

[2018-09-05 19:24] sblunt opened #54 "Implement method for saving results in Results object"
Referenced in PR #51.

[2018-09-05 19:31] henry-ngo commented on #20
I was just reviewing this too. I think we have already addressed the main point in the issue awhile ago (turn for loops in vector ops). But last week Rob mentioned another big speedup if we pass `manom` as an array. I think that is good but it does break some parts of the code, which I'm discussing with him on Slack now in a thread from his comment.

So I think we can keep this issue open until we

[2018-09-05 19:48] sblunt commented on #49
@isabelangelo can you confirm that OFTI results are being sent this way?

[2018-09-05 19:49] sblunt commented on #20
Ok, sounds good.

[2018-09-05 19:52] sblunt commented on #45
How are we doing on this @henry-ngo? You addressed a few of these in your recent PR, right?

[2018-09-05 20:54] sblunt commented on #45
Thanks @henry-ngo !!

[2018-09-05 21:14] sblunt opened #56 "Fix implementation of stellar mass and parallax"
Instead of defining separate variables for mass and parallax when they are fixed, let's just add them to `system.sys_priors` as floats instead of `Prior` objects

[2018-09-05 21:18] sblunt opened #57 "Speedups for OFTI algorithm"
This might be something @logan-pearce is interested in working on. In particular, I think we should implement the following:
- use a scipy optimization routine to estimate the minimum chi square for a given dataset, then use that to calculate a modified chi square for each tested orbit.
- adaptively modify priors as regions of parameter space are ruled out.

[2018-09-05 21:45] sblunt commented on #45
Ok yeah I'm running into this issue trying to merge Isabel's OFTI branch into master. Let me know when you've fixed this in the places you mentioned, then I can make sure it's fixed in `sampler.OFTI`. We also need to make sure it's fixed in the C implementation of `calc_orbit()` @devincody.

[2018-09-05 21:49] henry-ngo commented on #45
Oh sorry for not being clear, PR #55 fixes it in all of these places!

I also checked the kepler.c and how the C implementation appears in kepler.py and if I understood the code correctly, the C newton solver is called on line 151 and it doesn't use the list of orbital elements. Instead, you need to pass the arrays for `manom` and `ecc` only so we should be fine there!

[2018-09-05 21:52] sblunt commented on #45
Excellent! My bad, I didn't actually check-- I just remembered that's another place we'd have to remember to fix this.
Ok, so I'll go ahead and fix the OFTI ordering and hopefully that will work!!

[2018-09-06 16:00] semaphoreP commented on #9
Tutorial work:
Installation
When to use MCMC vs OFTI: @sblunt
OFTI Tutorial: @isabelangelo and @sblunt
MCMC Tutorial: me and @henry-ngo
More advanced orbitize features: change priors. forget if there's another..

[2018-09-06 16:11] sblunt commented on #9
Re: more advanced features...
I was thinking we'd have documentation sections about:
- installation (with an "optional" section about profiling the C code)
- input format for astrometry csv files
- modifying priors

[2018-09-06 18:12] semaphoreP opened #59 "Disable cython features on install"
I had some issues getting cython + Windows + Python 3 to work together, but supposedly according to the Cython docs it is possible: https://github.com/cython/cython/wiki/CythonExtensionsOnWindows

Regardless, it seems like having an option to disable cython featuers on install if the user is running into issues seems like a good idea. Basically add a flag to setup.py that disables it (E.g., `pytho

[2018-09-06 18:59] sblunt commented on #4
Incorporated in PR #48! Yay! Thanks @isabelangelo and @logan-pearce for your work on this!

[2018-09-06 18:59] #4 closed

[2018-09-06 19:00] sblunt commented on #45
Addressed in PR #55 and PR #48.

[2018-09-06 19:00] #45 closed

[2018-09-06 21:04] sblunt commented on #57
Sounds fun! Lol. No worries. This isn't a high priority item, so one or both of these speedups may still need to be implemented next semester if you have more time then. I'll put them on my todo list and keep you updated.
Good luck with applications, classes, and papers! :) You got this!!!

[2018-09-07 20:50] isabelangelo commented on #49
It looks like run_sampler outputs an array of accepted orbits that is (num_samples X 8), so I think it should be working!

[2018-09-07 20:53] henry-ngo commented on #49
Great :)

[2018-09-07 20:53] #49 closed

[2018-09-07 22:04] sblunt opened #60 "Make sure OFTI uses `compute_model()` method"

[2018-09-19 18:19] semaphoreP opened #61 "Helper function to work with tau"
Tau is great for sampling, but somethings annoying to work with. Instead of having each person re-figure out tau every time, it'd be great to have some helper functions in orbitize. I was thinking of the following

- Convert tau to T0 (actual MJD date of periastron passage). Optionally, T0 can be the first periastron passage after a certain date.
- Convert tau to a different tau (we base tau off o

[2018-09-19 20:01] semaphoreP opened #62 "Custom tau start date"
Somewhat related to #61. We should have an option for a user defined start date for tau (currently it's starting from MJD=0). There is possible evidence that having tau near the date of current observations helps with MCMC convergence.

[2018-09-19 21:33] sblunt opened #63 "Add Kosmo O'Neil priors to priors.py"
See https://arxiv.org/pdf/1809.05490.pdf, awesome work by K. Kosmo O'Neil. Would be great to have these priors as options in `orbitize`!

[2018-09-19 21:44] sblunt commented on #20
Addressed in PR #58

[2018-09-19 21:44] #20 closed

[2018-09-24 19:28] semaphoreP opened #64 "progress bar for mcmc"
add this after I push MCMC changes to master

[2018-10-03 00:30] sblunt commented on #54
Addressed in PR #65.

[2018-10-03 00:30] #54 closed

[2018-10-03 22:14] semaphoreP commented on #62
So in discussions, we determined that tau is degenerate with period (as one might expect), so having tau start too far away from the actual observations creates weird covariances that are not Gaussian, and thus hard to sample.

So, what should be the default? MJD=0 is too far back in time compared to most of our data. MJD=first astrometry data makes dataset dependent and possibly too confusing. My

[2018-10-04 00:07] henry-ngo commented on #62
How far away is "too far away"? Since most observations using orbitize will probably be from 2010 onwards, a date like 2023 is great if within ~10-20 years is close enough so that the default value will be good for as long as python is likely to be dominant in astronomy ;)

But if 10 years is already "too far away" then I'd prefer a date closer to today and no need to favour a nice round MJD.

[2018-10-10 21:51] #53 closed

[2018-10-10 21:51] #47 closed

[2018-10-12 23:58] sblunt commented on #60
Addressed in commit #4e78ab086853b3917cb00b242afea4293b977726

[2018-10-12 23:58] #60 closed

[2018-10-13 00:11] sblunt commented on #56
I should have documented our plan for this immediately after our telecon, but I forgot! Oh well. I think the plan is (correct me if I'm wrong):
- add a helper method in `system.py` that takes in the full list of parameters (`float`s & `Prior` objects) returns a list of just `Prior` objects.

Are you good to finish that up @semaphoreP?

[2018-10-13 00:14] semaphoreP commented on #56
I don't know whether it's best to handle this in the system.py class or in the sampler.py class. But I can think about it, and go with which I think is better.

[2018-10-13 00:18] sblunt commented on #56
Ok, sounds good! Right, I forgot that we had discussed where to put this helper function.

[2018-10-13 00:19] sblunt commented on #62
I'm in favor of MJD=60000! I think we should use the same MJD convention for everything, including input astrometry. Because of that, I think we should make this a V1.0 issue. @semaphoreP would it be possible to do an MCMC run with beta Pic and MJD= 60000 to make sure it's not "too far away?"

[2018-10-13 00:44] sblunt opened #68 "How is argp defined?"
The RadVel folks had a big discussion about how argp was defined a few months ago, and I wanted to make sure I know how we're defining it. Lauren Weiss suggested I make sure I understand this.

 See Figure 1 of BJ's 2017 RadVel paper. Are we defining argp the same way they do, with a 180deg offset, or some other way?

[2018-10-13 03:41] semaphoreP commented on #68
I believe we define it as angle from ascending node to the periastron of the **planet's** orbit, so we are 180 degrees off from RadVel, which does it to periastron of the star's orbit.

[2018-10-13 03:46] rjderosa commented on #68
I think RV folks define it differently from those doing visual orbits, which sort of makes sense because with RV you are tracking the orbit of the primary. Coming from the direct imaging side, I'd argue we keep things the way they are right now.

[2018-10-13 03:55] henry-ngo commented on #68
argp is always defined as the angle from the ascending node to the periastron of the object you're tracking. I agree with Rob that for us, it makes sense to do it for the periastron of the companion's orbit since we're fitting the companion's orbit, while the RadVel folks care about the primary so they do that. Solar system folks also define argp the same way we do, so it's the RV folks that are t

[2018-10-13 11:53] sblunt commented on #62
Oh wait I'm stupid never mind about the v1.0 issue, I didn't think that comment through. But I still agree with my suggestion to do an MCMC run with MJD=60000!

[2018-10-13 18:33] semaphoreP commented on #56
Ok seems like there's two ways to go:

1. sampler.compute_model(params_arr) accepts either a full params_arr or a params_arr with len == number of non-fixed parameters, and a helper function to return a list of priors to sampler. This has the benefit that a user can use sampler.compute_model() passing in only the variables they are fitting for, and don't have to worry about also passing in the var

[2018-10-13 21:43] henry-ngo commented on #56
Would both options result in the MCMC output chain only containing sampled parameters, or did I miss something?

[2018-10-14 13:49] sblunt commented on #56
I think I like option two better, because this does seem like an MCMC-specific issue. We could have an MCMC base class that has two helper methods for adding and removing fixed variables from arrays.

[2018-10-14 14:01] sblunt commented on #68
That makes a ton of sense. Thanks all for the very clear explanations!

[2018-10-14 14:01] #68 closed

[2018-10-14 14:28] henry-ngo commented on #56
I also think Option 2 is better. If we're only talking about fixing system mass and parallax, then the Results.py plotting functions already has ways to use the fixed values in computing orbits. So for this case, all the downsides already have code to account for them, I think. Also, I don't think having Mtot or parallax missing from the chain when they are fixed is a bad thing at all---we wouldn'

[2018-10-15 16:55] semaphoreP commented on #56
Ok, let's go with option 2 then! I'm thinking I'm just going to combine the PTMCMC and EnsembleMCMC samplers together into a single MCMC sampler for simplicity (I think they differ by like 3 lines of code).

[2018-10-18 21:16] sblunt commented on #56
Addressed in PR #69.

[2018-10-18 21:16] #56 closed

[2018-10-29 16:17] henry-ngo opened #75 "Improve read input tutorial"
Currently, the tutorial points to the documentation, which includes some examples but a tutorial can better capture the variety of input possible.

[2018-10-30 05:31] semaphoreP opened #79 "MCMC return autocorrelation time"
Related to issue #37. We should have some approved tools for assessing convergence of MCMC walkers, since it is probably the trickiest part of MCMC orbit fitting. Similarly, we should expand the MCMC tutorial.

- [ ] function that returns the autocorrelation time of the chains
- [ ] documentation in the MCMC tutorial on how to use the above feature to assess convergence

[2018-11-11 17:56] sblunt opened #80 "`Driver` should accept both properly inputted .csv files and `astropy.table.Table` objects"
Currently, `Driver` expects a csv. We should make it flexible enough to accept either a csv or an `astropy.table.Table`. Thanks @logan-pearce for the suggestion!

[2018-11-14 22:00] henry-ngo commented on #80
`read_input.py` provides two possible read modes:

`read_formatted_file` reads a CSV file that must be formatted with certain columns, typically values used by observers (e.g. delta RA/DEC, sep/pa, RV) and then generalizes this to a generic `orbitize` style.

`read_orbitize_input` reads any file with the generic `orbitize` style

`Driver` currently only uses `read_formatted_file`. To improve this,

[2018-11-19 16:58] ulrich-hiller opened #81 "'orbitize/_kepler.pyx' doesn't match any files"
I am on an CentOs 7 machine  with the most recent anaconda. numpy and cathon are upgraded.
Installing orbitize (no matter whther fron pip or source) gives the following error:

pip install orbitize
Collecting orbitize
  Downloading https://files.pythonhosted.org/packages/32/14/e0da52c27d509cea675794d41cbc6b252c5ea3953d8a9427b386baac04cb/orbitize-1.0.0.tar.gz (76kB)
    100% |██████████████████████

[2018-11-20 17:04] sblunt commented on #81
Thanks for the bug report, Ulrich! Our team was excited to respond to our first "real" issue. :)

The problem should be fixed in the version I just released (version 1.0.1). Try pip installing again and let me know what happens.

For posterity, the problem was that .pyx and .c files were not included in the .tar.gz distribution file. These files are needed to build `orbitize` on some machines. Thi

[2018-11-29 21:45] henry-ngo opened #83 "Sampler.OFTI changes ra/dec input to sep/pa but `quant_type` remains "radec""
This bug was causing a bunch of my unit tests on Driver to fail when I was testing for the ability to accept either a filename or an astropy.table.Table object.

When a Driver object is created with the OFTI algorithm, initializing the Sampler.OFTI object will convert all of the ra/dec input to sep/pa. This changes the `quant1`, `quant1_err`, `quant2`, and `quant2_err` values. However, it does not

[2018-12-04 21:39] sblunt commented on #80
Addressed in PR #82. Check it out, @logan-pearce!

[2018-12-04 21:39] #80 closed

[2018-12-04 21:40] sblunt commented on #81
@ulrich-hiller is the problem fixed for you?

[2018-12-04 22:31] sblunt commented on #83
Thanks for catching this bug, @henry-ngo! I like option 2 best as well.

[2018-12-05 16:23] logan-pearce commented on #80
Nice!  I like this feature, not having to write out a new file.  Great work.

[2019-01-10 17:49] sblunt commented on #81
Closing because we think this is solved. Feel free to reopen if you run into this issue again.

[2019-01-10 17:49] #81 closed

[2019-01-10 18:04] semaphoreP commented on #83
Option 2 sounds good to me too. I would suggest printing a message so that the user knows this is happening behind the scenes . This is just related to the OFTI sampler right?

[2019-01-10 18:12] henry-ngo commented on #83
Yes, this is only for the OFTI sampler.

[2019-01-10 18:21] semaphoreP opened #87 "Custom likelihood functionality"
Sometimes we have measurements that don't fit the standard orbitize format yet (e.g., Gaia/Hipparcos astrometry), and it would be nice to fit it as a one-off before making it a full feature (in case the format is supposed to change). It would be nice to be able to pass into the system(?) object, an extra likelihood function that is custom by the user. It should take a 2-D array of fit parameters,

[2019-01-10 20:13] malenarice opened #88 "Jupyter Lab Rendering"
When running OFTI in Jupyter Lab, the progress bar creates many empty spaces instead of augmenting numerically.

(occurs for the following lines:)

s = myDriver.sampler
orbits = s.run_sampler(1000)

[2019-01-10 20:14] sblunt commented on #59
This is not working for `setup.py`. I will investigate.

[2019-01-10 20:48] logan-pearce commented on #27
Will also include RV for the secondary object(s) as well

[2019-01-10 21:46] devincody commented on #59
what's not working?

[2019-01-10 22:10] sblunt commented on #59
We fixed it! Documentation has been updated in commit #24f3fba7f7739ee542964717dc644829bf2a034a. Basically, if a user doesn't have `cython` AND other `orbitize` dependencies installed, the install will fail because pip tries to install dependencies without communicating not to use cython. Installing dependencies separately then installing orbitize fixes the problem (at least in one case). Thanks f

[2019-01-10 22:10] #59 closed

[2019-01-10 22:40] logan-pearce commented on #27
We should rewrite the entire code so that, if there are RV measurements on the primary, secondary, or both, to allow a second mass parameter for the secondary, called m2, which is determined from a mass ratio between primary and secondary.  Otherwise, if there are astrometry only, m2 will default to zero.

[2019-01-10 22:43] sblunt opened #89 "Fit multiple planets"
Allow multiple planets to be fit at once (useful for stellar RVs & astrometry)

[2019-01-10 22:54] logan-pearce commented on #27
We are converting the mtot to m0 - mass of the primary, changing m_planet to m1 (to be followed by m2,m3, etc when we add in more companions), and making sure that anywhere we had previously had mtot in calculations, we now change it to m0+m1 (+m2 etc).

[2019-01-10 23:05] sblunt commented on #57
Update:
- we've decided that the second bullet point in initial issue should be discussed in documentation, but not explicitly worked into the code.
- look into stochastic gradient descent for bullet point 1

[2019-01-11 00:07] sblunt commented on #87
Addressed in commit #4ea24988af185373e02dc78a59c480301e6c5acd

[2019-01-11 00:07] #87 closed

[2019-01-19 22:53] semaphoreP opened #92 "Contributor collaboration on branches etiquette"
Add policy from slack to contributor guidelines on how to collaborate on a single branch.

[2019-01-19 22:55] semaphoreP opened #93 "N-body orbit solver"
In the future, in particular for multi-planet systems, it could be nice to use an N-body integrator (like `rebound`) to solve for the planets' positions. An N-body integrator can account for planet-planet interactions. This is not a pressing issue, so we can deal with it down the line.

[2019-01-25 00:36] isabelangelo commented on #83
I think option 2 sounds good as well. I'll work on this and add a print statement as Jason suggested. Thanks for the input Henry!

[2019-01-25 18:27] isabelangelo opened #95 "warning message for OFTI results.plot_orbits"
When running OFTI tests, the command:
s.results.plot_orbits(start_mjd=s.epochs[0])

yields several warning messages that look like (you can see this in the OFTI tutorial):
ErfaWarning: ERFA function "d2dtf" yielded 9625 of "dubious year (Note 5)" [astropy._erfa.core]

It looks like it comes from something going on under the hood in the Results class, but since the plot looks fine it might just be

[2019-01-26 13:54] sblunt commented on #95
Thanks for pointing this out, Izzy. I think it's just because many of the orbits we deal with have very long orbital periods, so the color bars on the orbit plots have to extend to like 3,000, which astropy thinks is a dubious year. It would be great if you could put something in the code to not print those dubious year warnings!

[2019-01-26 13:55] #92 closed

[2019-01-28 21:46] isabelangelo commented on #83
This issue should be fixed now! I took Henry's suggestion and made it so sampler creates variables from copies of the original data table, so self.system.data_table will be constant.

Additionally, as we discussed, I made it so that OFTI has two distinct table attributes: self.input_table (same as self.system.data_table, identical to original file) and self.data_table (table that is used for OFTI

[2019-01-28 21:54] henry-ngo commented on #83
Yay!

[2019-01-28 23:06] isabelangelo commented on #88
I looked into this, and it's actually a bug in jupyter lab- they're unable to handle "\r" carriage returns. It looks like they're working on this, and I commented on one of their issues in github as well. But for now I think we can only wait until they fix it :/

[2019-01-28 23:39] isabelangelo commented on #95
I put in a command to suppress the python "Warnings" category in plot_orbit() and uploaded it to the colorbar branch. I wasn't able to specifically target the ErfaWarnings specifically because the warning suppression function won't allow it, so this is more general.

If it's too general and we think it might end up suppressing important warnings I can take it out though :)

[2019-01-29 18:21] semaphoreP commented on #88
Alright, it seems outside of the scope of orbitize, so I'm going to close this issue. Thanks for investigating, and following up with the developers @isabelangelo!

[2019-01-29 18:21] #88 closed

[2019-01-29 20:00] sblunt commented on #95
See PR #96

[2019-01-29 20:01] sblunt commented on #83
Looks good! Create a PR whenever you're ready. :)

[2019-02-28 21:48] semaphoreP opened #97 "Fitting in different orbital parameter sets"
The standard a,e,i,omega,Omega,mtot orbital parameter set is not the most optical to sample in because it has complex covariances. I just thought of one way to implement different sets of orbital parameters and wanted to jot it down.

- Keep our default set of a,e,i,omega,Omega,mtot. We can solve Kepler's equation with them
- Have a second set of orbital elements that we are fitting for. This will

[2019-02-28 22:04] henry-ngo commented on #97
So the end user will only be interacting with this second set of orbital elements? I guess there may be more than one preferred set of orbital elements and each person might prefer different ones, which means we might end up writing many different conversion functions? This is fine---just thinking out loud.

[2019-02-28 22:58] semaphoreP commented on #97
That's a good question I haven't fully considered. I think basically each orbital element set will have a function to translates to/from a,e,i,omega,Omega,mtot. We can then always get from one orbital element set to another in two transformations. Basically I would imagine an orbital element class.

[2019-03-01 05:14] henry-ngo commented on #97
That sounds like a good solution!

[2019-03-02 15:13] sblunt commented on #97
This sounds good to me too. `radvel` handles this basically the same way, although they have an extra feature that allows you to specify your input basis and your fitting basis. I think we can probably finagle our code so that you just need to specify how the input basis transforms to the orbit-solver basis, and we can handle making sure we fit in the input basis as well.

[2019-03-18 18:07] isabelangelo commented on #83
See PR#98

[2019-03-18 18:25] semaphoreP commented on #95
Fixed in PR #96

[2019-03-18 18:25] #95 closed

[2019-03-19 17:33] sblunt commented on #83
Fixed in issue #98, as referenced above.

[2019-03-19 17:33] #83 closed

[2019-03-21 23:05] sblunt commented on #64
Added a progress bar for `ptemcee` in PR #100

[2019-03-21 23:05] #64 closed

[2019-03-22 19:23] semaphoreP opened #101 "autodoc not building"
The auto generated API pages for our docs don't seem to be working. This is most impactful for read input since the tutorial for read input just references the docstring: https://orbitize.readthedocs.io/en/latest/read_input.html

Seems like something is up with the readthedocs build system. The errors it's throwing for each auto generated page are along the lines of `WARNING: autodoc: failed to im

[2019-03-23 14:25] sblunt commented on #101
This should be fixed now. There were two issues: the webhook that tells readthedocs when to trigger a build stopped working, and I needed to point Sphinx to the correct docs location. I’m not sure why this was working before, but it should be fine now, and the webhook we’ve got now is good. Can you see the correct docs, Jason?

[2019-03-23 20:34] semaphoreP commented on #101
Super, works now! Thanks for the quick and thorough investigation. I think they changed the webhook thing recently.

[2019-03-23 20:34] #101 closed

[2019-03-25 19:15] isabelangelo opened #102 "OFTI tutorial not showing up on readthedocs"
It looks like something is going wrong with the OFTI tutorial on readthedocs. I can look into it, I feel like it might just require someone re-adding it to github and pushing it to master.

[2019-03-25 19:23] sblunt commented on #102
Oh no, more readthedocs issues! I will look into this too.

[2019-03-26 20:00] sblunt commented on #102
I think this is happening because an extra parenthesis was added to the beginning of the jupyter notebook file in a recent commit (ff23515af5eee2ea6d5ccfbd4bb6c5891f90998b). I removed it and it seems to be fixed. Let's hope pushing to master builds the doc for this notebook properly.

[2019-03-26 20:08] sblunt commented on #102
Ok, looks fixed to me now! I'm going to close this issue.

[2019-03-26 20:08] #102 closed

[2019-03-26 22:29] isabelangelo commented on #102
looks good! It looks like that typo was mine, sorry about that!

[2019-03-26 22:43] sblunt commented on #102
No problem!

[2019-04-02 15:20] sblunt opened #103 "``OFTI`` adds likelihood probability to ``results.py``, while ``MCMC`` adds posterior probability"
Just putting this minor bug here so I remind myself to address it. Currently, the OFTI sampler is adding likelihood probabilities (i.e. not multiplied by prior probabilities) to the ``Results`` object, and the MCMC sampler is adding posterior probabilities (i.e. with prior probabilities included). Not a big deal, and doesn't affect performance at all, but they should behave consistently.

[2019-04-02 16:06] henry-ngo commented on #103
Which one would be more useful? Or any reason to keep both? My first thought is that posteriors are preferred since that's what determines which samples get chosen in the first place?

[2019-04-02 16:49] semaphoreP commented on #103
Does the OFTI samples inherently have the prior probabilities in them, because they get drawn, weighted by the prior probability?

[2019-04-02 16:52] sblunt commented on #103
Yes, prior probability is incorporated in how frequently various orbits are drawn, but the number OFTI currently returns is just -0.5*chi2. I guess it's just a matter of semantics, but that makes more sense to me as a likelihood. To calculate an a posteriori probability for a given OFTI orbit, you'd have to additionally incorporate the priors.

Maybe we could keep likelihood probability and prior

[2019-04-02 16:53] sblunt commented on #103
The problem I'm facing now is that I want to look at chi2 for orbits run by OFTI and MCMC, and currently that requires treating OFTI and MCMC outputs differently.

[2019-04-02 16:54] sblunt commented on #103
Does that make sense?

[2019-04-02 16:58] semaphoreP commented on #103
Yes, I understand now! Basically our posteriors derived from the samples are consistent, but the reported probabilities correspond to different things. I agree that sounds like a good thing to keep straight. I think keeping both, or just keeping posterior probability are sensible solutions. In my experience, it doesn't take that much CPU time to recompute likelihood for chi2 if need be. I think ei

[2019-04-02 16:59] henry-ngo commented on #103
Yeah, that makes a lot of sense! Thanks for the explanation / example of a use of the likelihood. In that case, I think it makes sense to have both likelihood and posterior (ptemcee/emcee provides both anyways). With knowledge of the prior, it's possible to get the posterior from just the likelihood or vice-versa, but more user-friendly to just have both!

[2019-04-02 16:59] henry-ngo commented on #103
Ah, @semaphoreP said the same thing while I was typing :) Let me know if you want me to change the MCMC section of results.py or if you would rather just do both at the same time to keep things contained.

[2019-04-02 17:07] sblunt commented on #103
Thanks @henry-ngo and @semaphoreP! Thanks for the offer Henry! I think this will be quick to patch up though, so I'll just do it all at once.

[2019-05-01 17:16] semaphoreP opened #104 "Improvements to running long MCMC chains (restarting and saving)"
Have an argument that every so many steps, we save the current chains. This would be good for long MCMC runs so we can inspect the chains, or have their progress in case something crashes.

A minor complication is whether we use the default Results save type, or whether we also need to expose the format of the saved chains in the MCMC API.

[2019-05-17 05:19] semaphoreP opened #106 "Documentation for tau"
Add documentation (perhaps starting an advanced topics section) that describes tau, reference epochs, and how it relates to T0.

[2019-05-17 05:20] semaphoreP commented on #62
Implemented in PR #105

[2019-05-17 05:20] #62 closed

[2019-05-17 05:21] semaphoreP commented on #61
Fixed in PR #105

[2019-05-17 05:21] #61 closed

[2019-06-01 00:00] semaphoreP opened #107 "Custom prior parameters for custom likelihood"
It would improve the flexibility of the custom likelihood framework to have the ability to add priors for additional parameters that are fit in the custom likelihoods. This is useful for Gaia/Hipparcos fitting and for fitting multiple RV datasets.

[2019-06-05 18:36] JunellieGnzlz opened #108 "Input Table with RA/DEC offsets not working/Only works with SEP/PA"
I've been working with orbitize now for a couple of weeks (great tool!), and I wanted to raise an issue that came up when inputting the data to orbitize. When trying to read an input table with RA and DEC offsets, a couple of things happened:

1. After reading in the table with RA and DEC offsets successfully with the orbitize.driver.Driver, it prints out "Converting ra/dec data points in data_tab

[2019-06-05 22:56] henry-ngo commented on #108
Hi @JunellieGnzlz ! Thanks for the report. I'll check this out. I just recently did something similar but I read the input table directly with the `read_input` module. So it might be something in `Driver` that is causing the issue(s).

[2019-06-05 22:58] sblunt commented on #108
Thanks for using orbitize, @JunellieGnzlz! And thanks for handling this bug, @henry-ngo!

[2019-06-06 18:09] henry-ngo commented on #108
Hi @sblunt , @logan-pearce and @isabelangelo:

I think I found the cause of the issue! Context, in case you find a reminder useful: We recently changed the behaviour of the OFTI sampler when it is given ra/dec as input (as @JunellieGnzlz has done) so that we save the actual input as an attribute of the `sampler` object (i.e. `sampler.input_table`) instead of simply overwriting the old line in `dat

[2019-06-06 20:54] sblunt commented on #108
Hey @henry-ngo ! Thanks for the detailed report. I agree with you that it makes the most sense to just eliminate the `sampler.data_table` object. Let me know if you run into any issues implementing this fix.

[2019-06-06 20:58] semaphoreP commented on #108
Excellent in depth debugging! Yeah, I agree that having multiple data_tables causes confusion like this bug we ran into. Let's keep it all in the system class like you suggested. I'm happy to double check that it won't affect the MCMC sampler.

[2019-06-10 17:45] sblunt commented on #108
Addressed in PR #109. Thanks again @JunellieGnzlz @henry-ngo!

[2019-06-10 17:45] #108 closed

[2019-06-25 19:11] semaphoreP commented on #104
We should also have it be able to restart from a current position.

[2019-06-26 01:17] sblunt opened #111 "Error reporting for read_input"
After spending all day at the WFIRST data challenge with folks using orbitize, I've seen a few issues come up several times. I think they could be easily averted with more descriptive errors. The two bugs I saw several times today happened when:

- the path to the input csv was incorrect
- the input epochs were not in MJD

It would be great to add some error messages for these specific cases.

[2019-07-02 03:05] semaphoreP opened #113 "OFTI conversion of errors from RA/Dec to Sep/PA is incorrect"
The `radec2seppa` function can't be used to directly convert errors. See below (~line 126 in sampler.py).
[code]
I think the error in separation should be the average error in RA and Dec, and the error in pa is sep_err/sep.

[2019-07-03 00:16] sblunt opened #114 "Jeffrey's Prior should be renamed LogUniform Prior"
Because @semaphoreP and @jruffio are pedantic.

[2019-07-03 02:52] sblunt commented on #111
Looks great. Thanks @henry-ngo. I purposefully didn't assign you to this issue because I didn't want to create more work for you but you were too quick!! :D I just added a message notifying the user that JD was changed to MJD. Let me know what you think of this addition, and I can pull the changes in.

[2019-07-03 03:22] henry-ngo commented on #111
haha, I figure I should take ownership of read_input related issues :) Everything looks good!

[2019-07-03 05:19] sblunt commented on #111
Addressed in PR #112

[2019-07-03 05:19] #111 closed

[2019-07-03 16:19] semaphoreP commented on #27
We decided to narrow the scope of this issue so it's just reading in RV posteriors from radvel.

[2019-07-03 16:23] semaphoreP opened #115 "Fitting RV measurements directly in orbitize!"
We want to eventually fit the RV measurements directly. This requires possibly 3 things:

 * Make sure all the hooks in orbitize are working to handle RV
 * We should add the jitter of the star in the RV fit. This would involve sampling a new parameter (the RV jitter).
 * Fitting for an RV offset/system RV

[2019-07-03 16:24] semaphoreP commented on #104
We should also do this for OFTI. Could be a separate issue.

[2019-07-03 16:33] semaphoreP commented on #75
Provide examples of different inputs/demonstrate flexibility of the function.

[2019-07-03 20:40] henry-ngo opened #116 "Choose initial position of MCMC"
Currently walkers are started in positions that are uniformly drawn from the Prior space.

~Perhaps users can pass an argument specifying an initial guess for each parameter and a sigma value and we can draw walker positions from this distribution.~

~For more advanced users, we should have a convenience function that lets users create their own list of start positions and then update `sampler.cur

[2019-07-04 03:24] jruffio opened #117 "Default behavior for restrict_angle_ranges"
For its default behavior, it looks like the intent of the code is to set the restrict_angle_ranges  flag based on the dimensions of the input data (although it is not described in the docstring). However, I think this is currently not working:

The line

should be replaced by

[2019-07-08 21:54] semaphoreP opened #118 "Print out table of orbital parameters from the fits in Results"
Print out the percentiles for the parameters after the fit. Have a function that does this.

[2019-07-08 23:32] rrubenza commented on #114
Made https://github.com/sblunt/orbitize/tree/mynameisjeff to make this small change

[2019-07-08 23:54] rrubenza commented on #114
Done in #120

[2019-07-08 23:54] #114 closed

[2019-07-09 00:14] semaphoreP opened #121 "Investigate OFTI scale and rotate with tau_ref_epoch"
We should make sure we are rotating along the orbit in the most efficient way. We should check we are accounting for ref tau epoch correctly for maximum efficiency of OFTI. Right now scale and rotate doesn't look at ref_tau_epoch at all. Do we need to?

[2019-07-09 00:17] semaphoreP opened #122 "Save list of labels of parameters into results outputs"
In the results class and in the HDF5 or FITS, we should save the list of parameters indicating what each parameter means. This is getting important now that there are multiple bodies: e.g., mtot vs m0.

[2019-07-09 00:18] semaphoreP opened #123 "Check tests with new mass conventions"
Let's make sure we didn't break anything and that everyone works as we expect. Check the tests.. should be done tomorrow.

[2019-07-09 16:48] henry-ngo commented on #89
Note: When this feature is implemented, please update the formatting_inputs.rst doc page to remove the warning that orbitize only works with 1 secondary body for now.

[2019-07-10 18:26] henry-ngo commented on #37
I got the first part (view chains) done during the Hackathon (thanks for organizing!) but the second part and tests will come later as I find time over the next few weeks.

One question on how we want to implement "chopping". The simplest way (and what I originally envisioned) was to actually delete the "chopped" regions so that removing the first X steps (or whatever) is permanent.

But if there

[2019-07-11 21:08] sblunt commented on #37
Thanks @henry-ngo! I think we can safely delete the burn-in once the user gives the OK. That's basically what we're doing now, just without user input, right?

[2019-07-11 21:17] henry-ngo commented on #37
Okay! Currently, the number of burn-in steps is a parameter users can set when they call `run_sampler` and those steps are just deleted.

[2019-07-11 21:18] sblunt commented on #37
Cool. Yeah I think just deleting them is good!
On a side note, we should make sure there is an option *not* to view the chains e.g. if users want to run MCMC overnight with a predefined # of burn-in steps.

[2019-07-11 21:36] henry-ngo commented on #37
My current implementation plan is to add two new methods to the MCMC `Sampler` class:

`examine_chains()` will display plot(s) of the walker positions as a function of step, one plot per parameter

`chop_chains()` will take the number of steps from the beginning to chop and it will modify the chain stored in that `sampler` object and also update the corresponding `Results` object to remove the sam

[2019-07-11 21:37] sblunt commented on #37
I see. Sounds great!

[2019-07-11 21:40] sblunt commented on #114
(Note for posterity that we shouldn't close issues until the code has been pulled to master).

Thanks @rrubenza for taking this on!

[2019-07-11 21:56] sblunt commented on #116
Addressed in PR #124

[2019-07-11 21:56] #116 closed

[2019-07-11 22:09] sblunt commented on #75
Addressed in PR #119.

[2019-07-11 22:09] #75 closed

[2019-07-11 22:28] sblunt commented on #117
Thanks JB. I decided to remove these lines of code after all. I'll let the user/sampler object decide when to restrict the angle ranges.

[2019-07-11 22:28] sblunt commented on #117
See PR #126

[2019-07-11 23:30] sblunt commented on #103
I decided to just return the loglikelihood, rather than both it and the logprobability, since the results object code was getting messy with lots of try-except cases for backwards-compatibility. Users should be able to generate lnprobs without too much difficulty, and the code Junellie is working on (Issue #118) will make this more user-friendly too. Let me know what you think! See PR #126.

[2019-07-11 23:34] sblunt opened #127 "Tutorial for including RV measurements"
Once the RV+astrometry implementation is finalized, we should add a tutorial. This should show how to do a joint fit, show how to read in RadVel posteriors as priors, and discuss when each option is appropriate.

[2019-07-15 21:37] sblunt opened #128 "Python 2 users affected by ptemcee bug"
See issue [here](https://github.com/willvousden/ptemcee/pull/10). We should print a warning for Python 2 users working with ptemcee.

[2019-07-18 21:18] henry-ngo commented on #37
The branch `view_chop_chains` now implements these features! It is also passing tests.

Small note on a change to the original plan: The MCMC Sampler object has attributes storing the chain, likelihoods, etc. These are saved and added to the Results object attached to the Sampler object at the end of each call to `run_sampler`. My original plan was to update both these objects as well as the `Resu

[2019-07-29 23:13] semaphoreP opened #129 "Save orbitize version to results"
This is probably good for legacy recording and sanity checking purposes. We should save the orbitize version number, and perhaps even the git commit version (although would not exist if installed from pip). Sometimes I don't remember which version of orbitize I used for a fit, and it may not matter now, but it could matter in the future.

[2019-07-30 03:05] henry-ngo commented on #129
I like this. I think we can just use version number as long as we are consistent about incrementing version number whenever a major change in how a fit happens or a bugfix is merged onto (into?) master.

[2019-07-30 16:51] semaphoreP commented on #129
Yeah, I think the version number is probably good enough. We have been good about updating version numbers frequently, and if we continue to do so, that should be fine.

[2019-08-12 21:01] henry-ngo opened #132 "Support for Python2 beyond Jan 1 2020"
I believe that we have decided that we'll support Python2 for as long as it does not require too much extra effort to maintain. Some scientific python packages have already dropped Python2 support and [many more have pledged to drop it by Jan 1, 2020](https://python3statement.org/).

After Jan 1, 2020, orbitize might unexpectedly stop working in Python2 so we should print a warning message to this

[2019-08-18 00:01] sblunt commented on #117
We actually ended up addressing this issue in PR #131.

[2019-08-18 00:01] #117 closed

[2019-09-05 22:28] semaphoreP commented on #123
@sblunt, can we close this issue, or was there something else specific we should check?

[2019-09-05 22:32] semaphoreP commented on #122
This looks like it was fixed a while ago. Please reopen if I am mistaken.

[2019-09-05 22:32] #122 closed

[2019-09-05 22:35] semaphoreP commented on #33
Implemented in PR #133 🎉

[2019-09-05 22:35] #33 closed

[2019-09-09 23:08] sblunt commented on #113
Addressed in PR #126

[2019-09-09 23:08] #113 closed

[2019-09-09 23:08] sblunt commented on #103
Addressed in PR #126

[2019-09-09 23:08] #103 closed

[2019-09-09 23:08] sblunt commented on #117
Re-removed in PR #126

[2019-09-09 23:17] sblunt commented on #123
I'm going to close this since the tests are working and we finished implementing the new mass prescription...

[2019-09-09 23:17] #123 closed

[2019-09-10 01:33] semaphoreP opened #134 "90% code coverage for vanity sakes"
We like green colored badges and we are only 1.5% (~15) lines away!

[2019-09-10 16:16] henry-ngo commented on #134
🍏 📗 💚 🥗 🇬🇱

[2019-09-12 17:57] sblunt opened #135 "Tricks for making OFTI more amenable to RVs"
Lea and I discussed a few ways we might speed up OFTI for datasets including RVs. A summary:

- Remove gamma as a free parameter by marginalizing analytically (http://cadence.caltech.edu/~bfulton/share/Marginalizing_the_likelihood.pdf)
- Similarly marginalize over K, a la the Joker (https://iopscience.iop.org/article/10.3847/1538-4357/aa5e50/pdf)

OR

- Scale K to match min/max for particular gene

[2019-09-16 00:16] devincody opened #136 "Mikkola C Solver"

[2019-09-16 04:37] devincody commented on #136
The observed speed up is ~2X

[2019-09-17 05:23] devincody opened #138 "GPU Solver"

[2019-09-17 05:25] devincody commented on #138
Need to play with size of batch which will determine GPU throughput efficiency.

[2019-09-17 17:43] semaphoreP commented on #104
We should append to the HDF5 file rather than writing a completely new file (if possible).

[2019-09-17 17:54] semaphoreP commented on #8
We need some way to recognize different instruments.

[2019-09-17 18:01] semaphoreP commented on #97
A good orbital element set could be x,y,r,vx,vy,vr where r = sqrt(x^2 + y^2 +z^2). This way, x,y,vx,vy would be well constrained by the astrometry. For circular orbits, vr = 0, and r~a. In this basis we would have just 1-2 free parameters that are relatively unconstrained rather than 6. This would be good for doing quick leastsq optimization to find a well fitting orbit for starting MCMC or OFTI.

[2019-09-18 18:48] semaphoreP commented on #136
Implemented in PR #137

[2019-09-18 18:48] #136 closed

[2019-09-23 00:38] devincody commented on #138
@semaphoreP Did you have suggestions for this functionality?

[2019-09-30 23:01] sblunt opened #141 "master branch failing with emcee 3.0.0"
@semaphoreP I think there are some minor incompatibilities with emcee 3.0.0 and our implementation. The ones I noticed are:

- `threads` keyword was removed. DFM now suggests using multiprocessing. We should write this into orbitize.
- I think the `sample()` method has a different return type now.

Not a huge issue since I don't think anyone is using `emcee` instead of `ptemcee` in orbitize, but w

[2019-10-01 17:09] sblunt commented on #37
Addressed in PR #139

[2019-10-01 17:09] #37 closed

[2019-10-01 17:13] sblunt commented on #128
@henry-ngo added a warning in the MCMC tutorial in PR #139. I think we should also add a warning message that prints out if a user tries to run PTMCMC with Python 2.

[2019-10-01 18:01] sblunt commented on #141
For now, I changed our requirements to `emcee<3`, but we should fix this before v2.

[2019-10-06 07:45] devincody commented on #138
Profiling shows OFTI is not rate limited by the newton solver. Probably should have checked this before, but alas. GPU performance on my machine is relatively close to the multithreaded performance. Might be able to maximize throughput by adding multithreading to handle the pre/post-processing.

[2019-10-06 19:03] semaphoreP commented on #138
Hmm.. I presume rewriting all of OFTI reject() into GPU would be a huge pain (same with MCMC). Maybe OFTI performance would be better on GPU if we had bigger batch sizes for OFTI (reject more samples at a time). Or did you already look into this?

[2019-10-08 04:10] sblunt opened #143 "Incorporate stellar astrometry"
Reminder to check out https://github.com/t-brandt/orbit3d when we get to this issue

[2019-10-15 21:39] semaphoreP opened #144 "OFTI doesn't handle PAN priors properly"
While working with someone on an OFTI fit who was trying to limit the range of PAN, they noticed that OFTI still produced samples outside of the prior bounds. This is because OFTI scale and rotate and rotate PAN to be outside of the bounds, but does not check for it.

[2019-10-16 19:22] sblunt commented on #144
Good point. I did this intentionally but did not print an error/warning message. I have added the ability to set priors on pan in the RV posts as priors branch, so I will fix this at latest when I pull that code in.

[2019-10-19 21:48] semaphoreP commented on #134
We barely made it! Close enough..

[2019-10-19 21:48] #134 closed

[2019-10-19 22:22] sblunt commented on #134
Lol

[2019-11-11 19:04] JunellieGnzlz opened #148 "Value Error when specifying starting epoch for plots"
Whenever I try to plot the orbits which includes “start_mjd=epochs[0]", the snippet of code below is in the tutorial notebook:

epochs = myDriver.system.data_table['epoch']
orbit_figure = myResults.plot_orbits(
    start_mjd=epochs[0] # Minimum MJD for colorbar (here we choose first data epoch)
    )

It gives me the following error:

"ValueError: x and y must have same first dimension, but have s

[2019-11-15 00:50] sblunt commented on #148
Hey Junellie,

Thanks for the bug report!

I'm unable to reproduce this error running the OFTI tutorial notebook on my machine. Is that the notebook you're having trouble with? Note that in that tutorial, `epochs` is defined in the same cell.

[2019-12-05 22:50] semaphoreP opened #150 "Handle covariances in measured astrometry"
Sometimes, RA/Dec and Sep/PA are not the principal axes of the error ellipse and we instead need to handle error covariances. We need to include new API/formatting in read_input to deal with covariances. Is this something we want to fully implement in the code base, or leave to the custom likelihood function?

[2019-12-12 10:38] aburgasser commented on #127
Hi everyone, checking to see if there is any progress on this; I'd like to try using orbitize for *stellar* binaries using RV measurements alone, but am having trouble figuring out how to set up the system/driver for this

[2019-12-12 15:01] sblunt commented on #127
Hi Adam! Excited to hear that you’re using orbitize!

We’re still putting the finishing touches on the RV+astrometry implementation. Those involved are taking finals and writing grad apps right now, so expect an update in a few weeks.

[2019-12-23 13:45] r0cketr1kky commented on #132
Has anyone started working on this? Can you assign me this task, if it hasn't been taken up already @semaphoreP?

[2020-01-16 00:35] semaphoreP commented on #150
I've been getting some demand for this so I might try to add it after multiplanet. I think the biggest thing is that we need to add another column to the Table that is returned by `read_input`. We would basically need a column that's "cov12" that gives the covariance between quant1 and quant2. With that and `quant1_err` and `quant2_err`, we can reconstruct the 2x2 covariance matrix and use it in t

[2020-01-21 21:25] aryadas98 opened #152 "Tests failing on master branch"
Tests on the latest master branch are failing. From the root directory of the project if I run `pytest` these errors come up:

[code]

The rest of the errors are caused by the same line `cmap(np.linspace(0.0, 0.7, 1000.))`. The problem is that the last argument 1000 should be an integer. However even after removing the period, the tests are failing.

After removing period:
[code]

[2020-01-21 21:45] aryadas98 opened #153 "Minor issues for developers"
There are some minor documentation issues for developers.
- Installation instruction for developers does not work in a fresh environment because numpy is not installed. Workaround is to install dependencies using `pip install -r requirements.txt` first.
- Cython and pytest are not listed in the requirements.
- In the quickstart guide, the file `GJ504.csv` cannot be located by `'{}/GJ504.csv'.forma

[2020-01-22 05:01] henry-ngo commented on #152
For the first issue (with np.linspace), we should do a quick bugfix. I checked and this deprecation has been here since numpy v1.12 (latest is v1.17 now, so we should probably get it fixed soon). https://docs.scipy.org/doc/numpy/release.html#id92

[2020-01-22 05:07] henry-ngo commented on #152
For the other 9 errors, they seem to all come from assertions on astropy table lengths. Looking at the output, it looks like the length of the table is being computed incorrectly in these tests.

I did a test on my install and did not encounter the same errors---everything passed. Our travis build on the latest commit to master also passed: https://travis-ci.org/sblunt/orbitize/builds/617989705

I

[2020-01-22 05:16] henry-ngo commented on #152
(PR #154 addresses the numpy issue)

[2020-01-22 05:22] henry-ngo commented on #152
Looks like tests on #154 is now failing, very similar to #151. Something changed with astropy probably in the last 2 months!

[2020-01-22 08:28] aryadas98 commented on #152
I am using astropy version 4.0 in these tests.

[2020-01-23 05:02] henry-ngo commented on #152
It looks like astropy4.0 includes a lot of changes to tables which might make our _compare_tables method not function as expected. However, it also introduces a method to actually compare two tables so that might be a good fix.

astropy v4 doesn't support python2 so if we change the tests to work with astropy 4 this might mean we have to drop python2 support (alternatively we may have to require a

[2020-01-23 13:21] aryadas98 commented on #152
Fixed it! The problem was with the `read_file` method in `read_input.py`. Astropy changed how masked tables are dealt with. When a file is read `masked=False` even if the file contains empty cells. https://docs.astropy.org/en/stable/table/masking.html

Adding these two lines just after reading the file fixes the problem:
[code]

However the property `has_masked_columns` is only available in astrop

[2020-01-23 20:45] aryadas98 commented on #152
I could add a check to see the astropy version number first before executing this command. Should I submit a pull request?

[2020-01-24 20:55] aryadas98 commented on #152
I opened PR #155. The tests are passing.

[2020-01-24 22:51] sblunt commented on #152
Hey @aryadas98! Thanks very much for submitting this issue and for finding a fix. The issue you raised sparked a broader discussion about whether to continue supporting Python 2. We've decided to discontinue support for Python 2.7 so that we don't have to have version checks like the one you implemented in PR #155. The plan for the next two versions is:
1. Release a new version that requires astro

[2020-01-25 00:55] sblunt commented on #132
Hey @r0cketr1kky, sorry we missed your earlier comment. There wasn't anything to do for this issue, it was mainly just a reminder for us to think about when we should drop support for Python 2. We're decided to make good on that promise in PR #157.

[2020-01-25 00:56] sblunt commented on #128
Noting that this will auto-resolve in PR #157 .

[2020-01-25 01:02] sblunt commented on #153
Addressed in PR #157

[2020-01-25 01:02] sblunt commented on #152
Addressed in PR #157

[2020-01-25 01:10] #152 closed

[2020-01-25 01:11] #132 closed

[2020-01-25 01:11] #128 closed

[2020-01-25 01:39] semaphoreP commented on #153
I don't think we addressed these issues, so I'm going to re-open this to remind us to update documentation.

[2020-01-25 01:40] sblunt commented on #153
I updated the documentation. Do you not see the changes? Maybe there's an issue with the docs...

[2020-01-25 02:50] semaphoreP commented on #153
Ah my bad! I didn't see you updated the documentation.

[2020-01-25 02:50] #153 closed

[2020-01-28 03:57] sblunt commented on #148
Addressed in PR #149

[2020-01-28 03:57] #148 closed

[2020-02-08 05:34] sblunt opened #158 "Add omega/Omega documentation"
Brendan Bowler suggested we add some more explicit documentation about the relationship between tau/orbital period/EPP and the geometric interpretation of omega/Omega. I’d also like to add something explaining the geometric inclination prior since that’s a question I get asked a lot.

[2020-02-08 18:50] semaphoreP commented on #158
related to issue #106 also

[2020-02-18 22:07] zhexingli opened #159 "Xcode download"
I had orbitize before but uninstalled it along with xcode due to my software issues. Now I want to get it back, but the latest Xcode in the current Apple app store saying my version of Mac OS is too old (10.14.3) and the system needs to be at least 10.14.4 to be able to downloand Xcode. I don't want to upgrade my system to Catalina because of the a lot of software incapatibility issues other peopl

[2020-02-18 22:13] sblunt commented on #159
Hey Zhexing! You can download older versions of Xcode by following the steps listed in the top voted answer to this stackoverflow question: https://stackoverflow.com/questions/7047735/where-can-i-download-old-versions-of-xcode

Hope that helps!

[2020-02-18 22:18] zhexingli commented on #159
Thx Sarah!

[2020-02-18 22:18] #159 closed

[2020-02-26 23:51] semaphoreP commented on #104
We should try to leverage the emcee v3 feature that does this.

[2020-02-26 23:57] semaphoreP opened #160 "Have multiple calibration terms for multiple RV datasets"
Gamma and jitter terms for each dataset. We also need a way of recognizing different instruments in read_input.

[2020-03-06 22:58] sblunt commented on #127
Addressed in PR #146

[2020-03-06 22:58] #127 closed

[2020-03-06 22:59] sblunt commented on #115
Addressed in PR #146

[2020-03-06 22:59] #115 closed

[2020-03-25 16:30] semaphoreP opened #163 "MCMC examine_chains() should have a transparency option"
We plotting more than 10 chains, or very long chains, the walker plots generated by `mcmc.examine_chains()` are hard to read if we don't have transparency enabled. Example below:

![image](https://user-images.githubusercontent.com/2245740/77560736-13c60a00-6e7b-11ea-9516-ec1f6da282ee.png)

Transparency will help us better have a sense of the density of walkers, which otherwise we can't tell. We ca

[2020-04-09 19:10] semaphoreP opened #164 "Expand documentation on fixing priors"
We should put an explicit example on how to fix a prior to a value (currently just mentions that parallax is fixed, but an explicit example would be nice).

[2020-04-15 02:05] #89 closed

[2020-04-29 16:28] sylacour opened #167 "PyCharm + OFTI = Bug ?"
Hello

I am running the OFTI script in:
http://orbitize.info/en/latest/tutorials/Quick-Start.html
under PyCharm (v2020.1), but I get the following error messages. However,
- It works if I run the same script in Spyder.
- It works if I run the fit with MCMC in PyCharm.
So it looks like something deep within PyCharm of OFTI.
Thanks for the tool!

Sylvestre

0/1 orbits foundProcess Process-5:
Process

[2020-04-29 19:21] sblunt commented on #167
Hey Sylvestre, thanks for the bug report! I just tried running the quickstart script in PyCharm, and I wasn't able to reproduce the bug. (I don't usually use PyCharm, so it's totally possible I'm doing something strange). It looks like the error has to do with OFTI's multiprocessing. Could you try running the following simple multiprocessing script (taken from the multiprocessing docs page)?

What

[2020-04-29 19:47] sylacour commented on #167
Hello Sarah

The script was python 2, but after changing the print, it worked.
Here what I got:

main line
module name: __main__
parent process: 979
process id: 4119
function f
module name: __main__
parent process: 4119
process id: 4122
hello bob

The exact template I used (which failed) is this one:

Does it work on your computer?

S.

[2020-04-30 16:40] semaphoreP opened #168 "Improvements to results.plot_orbits"
Raised by a user:

- First, if I put rv_time_series = True, the colorbar does not show up. Even if I put show_colorbar = True
- Second, it always open a new window. Is there a way to specify which figure to put it in?
- Third, the label “epoch” is misleading. In the data table, the epoch is in MJD. Here, it is in year. I got quite confused because of that. Maybe the X axis should be renamed (Epoch

[2020-04-30 20:11] sblunt commented on #167
Ah, sorry about the Python2/3 conversion (I just copied it from the `multiprocessing` docs page). It's good that it's working though.

Yes, the orbitize! quickstart script is working on my computer in PyCharm v2020.1 (same as yours). Let's try to pin down what else might be different between our setups:

- Type `pip list` into a terminal and let me know what it says (I want to make sure I have all

[2020-05-04 08:04] sylacour commented on #167
Hello Sarah

I have OS Catalina (v10.15.4).

Here are my pip list

Package                            Version     Location
---------------------------------- ----------- -------------------------------------------
-rbitize                           1.11.0
alabaster                          0.7.12
anaconda-client                    1.7.2
anaconda-navigator                 1.9.7
anaconda-project

[2020-05-04 14:06] sylacour opened #169 "Minor feedbacks on the corner plot"
Dear Sarah (and/or others).

Here are a small remarks on the orbitize corner plot function:

1- First, if I put rv_time_series = True, the colorbar does not show up. Even if I put show_colorbar = True

2- Second, it always open a new window. Is there a way to specify which figure to put it in?

3- Third, the label “epoch” is misleading. In the data table, the epoch is in MJD. Here, it is in year.

[2020-05-04 14:08] sylacour commented on #169
Haha, my mistake, Jason already opened a bug report!!

[2020-05-04 14:08] #169 closed

[2020-05-04 14:19] sylacour commented on #168
2 additional remarks:
For 3), I would in fact plot the epoch as MJD. It makes everything more consistant.
Also, a minor bug, when I try to plot a corner with a fixed parameter, it tries to plot it, and crash. Maybe it should check which parameter are fixed before plotting (in the eventuality no param_list is given).

[2020-05-05 17:43] sylacour commented on #168
And while we are talking about the corner plots issues, I have another one.

If I run
$ results.plot_corner(results.labels[:10])
followed by
$ results.plot_corner(results.labels[9:])

The histogram of the first column of the first corner plot is the same as the histogram of the first column of the second corner plot (and we are missing a column). See attached plot:
[Corner_upto9.pdf](https://githu

[2020-05-07 01:42] sblunt commented on #167
Hey Sylvestre,

Everything's still working on my computer even with the same Python package versions as you. I have OSX 10.15.2 so it's possible something weird is going on with a 15.2->15.4 upgrade, but I doubt it.

The next thing I can think to test is whether some of the fancier parallel processing tools we use for OFTI are working on your setup. Can you try running some of the code snippets at

[2020-05-07 01:45] sblunt commented on #168
Thanks @sylacour. Do you need these changes urgently? If not, I might hold off making these changes for a few weeks. Let us know.

[2020-05-07 07:01] sylacour commented on #168
There is no urgency. It is just feedback!
Currently I run the code pretty smoothly.

[2020-05-13 13:54] sylacour commented on #168
I have run through the examples there until I got to:
"Controlling Concurrent Access to Resources”
Here, the software crash.
What is strange is that if I run the same code in a terminal, it works!
How do you run it yourself? Do you run it inside a PyCcharm terminal? Does it call “pydevconsole.py” on your computer too?

Here is the error message:

/Users/slacour/opt/anaconda3/bin/python /Applicatio

[2020-05-14 01:14] sblunt commented on #167
See comment [here](https://github.com/sblunt/orbitize/issues/168#issuecomment-628002723) (accidentally posted on wrong issue).

Ok, it looks like it's something wrong with your PyCharm environment, possibly with PyCharm itself. You're having problems with some features of `multiprocessing` that we use in `orbitize!` You could consider contacting the PyCharm folks and asking them what might be goin

[2020-05-22 21:34] semaphoreP opened #171 "[code/astro] plot_orbit throws an error"
[this is a artificial bug report for the code/astro workshop]

I am trying to run this OFTI orbit fit and plot the results, but get the following error message:

  File "broken_repo.py", line 12, in <module>
    s.results.plot_orbits(start_mjd=myDriver.system.data_table['epoch'][0])
  File "/mnt/c/Users/Jason/Github/orbitize/orbitize/results.py", line 464, in plot_orbits
    plt.plot(yr_epochs, se

[2020-06-01 14:53] kluskaj opened #172 "Error when plotting corner plot with fit_secondary_mass = True"
Dear all,

I would like to report a bug.
When I run a fit of RV+astrometry with MCMC I have an error when I want to plot the corner plot.
It happens only when I set "system_kwargs = {'fit_secondary_mass':True}".
The error is: " KeyError: 'Jup\\' ":
[code]

I obtain it by running:
[code]

Thanks!

[2020-06-11 20:53] sblunt commented on #172
Hi @kluskaj! Thanks for the bug report, and I apologize it's taken me a while to get back to you. I believe this is the same bug that @vighnesh-nagpal fixed, so the master branch has this fixed. I'll release a new version of the code now so that you can `pip install orbitize --upgrade` and grab the fix. Thanks again!

[2020-06-17 18:24] sblunt opened #173 "Update OFTI tutorial to reflect current save results practices"

[2020-06-23 21:26] semaphoreP opened #174 "Python 3.8 MacOS Parallelism Issue?"
It's unclear right now if this affects all Macs running python 3.8 or some very specific setup. Regardless, running the basic OFTI tutorial (e.g., from issue #171) returns the following cryptic multiprocessing bug in OFTI:

[code]

[2020-06-24 17:05] zhexingli commented on #79
Is mcmc convergence criteria now incorporated into orbitize? Just being curious

[2020-06-24 19:13] semaphoreP commented on #79
Not yet, but check out section 2.3.2 of the orbitize! paper for a summary of how we assess convergence: https://arxiv.org/abs/1910.01756

[2020-07-04 07:25] sblunt commented on #172
Closing because I believe this is fixed. Please reopen if you're still running into the issue.

[2020-07-04 07:25] #172 closed

[2020-07-04 07:27] sblunt commented on #167
Closing because we reached the limit of my ability to help.

[2020-07-04 07:27] #167 closed

[2020-07-04 09:08] sylacour opened #177 "sampler.curr_pos and results.post would benefit from a dictionary like system.param_idx too"
I like to force priors to a given value, and/or insert new priors thanks to the custom_lnlike function.

However, I have difficulties using the same code because the length of the array for curr_pos (before running the MCMC) and results.post (after running MCMC) keep changing.

I know there is a results.labels array, but it does not look like it is properly updated to additional prior.

Could it b

[2020-07-04 09:15] sylacour opened #178 "Painfull "ValueError: Attempting to start with samples outside posterior support.""
Feedback from a month of working on orbitize:
1) The code is great!
2) I learned to hate the message "ValueError: Attempting to start with samples outside posterior support.". I hate it, I hate it. :p

Could it be possible to add a check on the values that are used to start the MCMC, and tell us which prior parameter is wrong? With up to 22 parameters (2 planets, RV and GAIA data), it gets very co

[2020-07-04 09:18] sblunt commented on #178
Sure

[2020-07-06 16:59] semaphoreP commented on #178
This is not helped by the fact I sent you some code with a lot of custom functionality on top of orbitize... Perhaps a function that computes the ln(prior) of each walker position and returns the bad ones that are at -inf would help?

[2020-07-06 17:02] semaphoreP commented on #177
Sure. Good suggestion. I'll note that inserting new priors is not "officially" supported in orbitize yet, so we need to build a lot of that infrastructure still. However, having a dictionary for the MCMC sampler length changing due to fixed parameters makes sense to me.

[2020-07-06 20:47] sylacour commented on #178
Yes, that would help. I think you wrote such a test already in the last piece of code you gave me.
But returning the bad walkers is not exactly what I would prefer. I would prefer to know which one of the prior is out of range (like: ‘m1’ or ‘ecc2’).

S.

[2020-07-09 17:47] semaphoreP opened #179 "modifying mcmc positions docs refers to Epp instead of tau"
In Code block [8] of [the tutorial](http://orbitize.info/en/latest/tutorials/Modifying_MCMC_initial_positions.html#3.1)-Generate-your-own-initial-positions), we reference what appears to be an epoch of periastron passage (in days) instead of tau from Blunt et al. 2017. This could be misleading since we need tau to initialize the walkers positions.

[2020-07-09 18:08] semaphoreP commented on #179
Also it uses degrees instead of radians. We should fix that too.

[2020-07-22 22:49] semaphoreP opened #182 "tau_ref_epoch inconsistency"
The default value for `tau_ref_epoch` in `kepler.calc_orbit` is 0, while in the rest of the package, `tau_ref_epoch` is at `58849`. This is technically a breaking change in case other people are calling calc_orbit assuming tau_ref_epoch=0 works for them, but that subset of orbitize users may just be me.. (but nevertheless, we should document the change in the release notes).

[2020-08-06 19:16] sblunt commented on #63
A first-draft version of this feature for MCMC only is implemented in the `obs-priors` branch. Summary of game plan for OFTI incorporation that came out of discussion with Greg Martinez & Kelly Kosmo today:
- use rejection sampling to generate samples from the ObsPrior. Proposal distributions: log-uniform in P, uniform in e
- rotate Omega but don't scale sma

[2020-08-10 23:29] sblunt commented on #163
Addressed in PR #183

[2020-08-10 23:29] #163 closed

[2020-08-12 18:37] Steelhead86 commented on #174
This does not appear to be a MacOS specific issue, as I am currently encountering it on Windows 10.
If it's helpful:
`python3 --version: 3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)]`

[2020-08-12 23:10] #179 closed

[2020-08-12 23:19] #173 closed

[2020-08-17 21:13] zhexingli opened #184 "new version of emcee"
Hello, I just noticed that orbitize uses the 2.x version of emcee. Is it possible to upgrade it to the newer 3.x version? Is orbitize compatible with it? Other programs such as radvel uses the 3.x version of emcee and installing orbitize automatically replaces the new version with the old one, which is quite inconvenient :(

[2020-08-20 02:45] sblunt commented on #184
Duplicate of #141. I'll work on addressing this later this week.

[2020-08-20 02:45] #184 closed

[2020-08-28 21:00] sblunt commented on #141
Addressed in PR #185

[2020-08-28 21:00] #141 closed

[2020-08-28 21:00] sblunt commented on #184
Addressed in PR #185.

[2020-09-02 19:09] #171 closed

[2020-09-02 19:28] sblunt commented on #177
I think it might be a good idea to move towards pandas dataframes rather than arrays of parameters and lists of labels.

[2020-09-02 19:56] sblunt commented on #97
We also like to add an option to fit in sma/period rather than sma/mtot. This would be useful for shorter-period orbits, including those that have stellar astrometry/radial velocity measurements.

[2020-09-07 00:14] sblunt commented on #144
Partially addressed in PR #186. Still need to implement the ability to apply arbitrary PAN priors in OFTI

[2020-09-07 00:16] sblunt commented on #63
The Jacobian currently implemented on the `obs-priors` branch isn't correct, since we're using a sma basis, and the Jacobian in Kelly's paper involves partial derivatives assuming we fit in a per basis. I need to calculate and implement the correct Jacobian.

[2020-09-07 00:17] sblunt commented on #57
@lhirsch238 potentially interested in this as a student project

[2020-09-07 00:55] sblunt commented on #182
Addressed in PR #187

[2020-09-07 00:55] #182 closed

[2020-09-12 14:46] ShirleneLiu commented on #174
I met the similar problem with Python version 3.8 when training PyTorch DCGAN through terminal(https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html). However it didn't go wrong in IPython of Jupyter notebook. I can't understand why even if I read python docs 😶

As a result I only solved it as follows:

[2020-09-12 14:57] ShirleneLiu commented on #174
macOS / Python3.8

I met the similar problem when I trained PyTorch DCGAN through terminal(https://pytorch.org/tutorials/beginner/dcgan_faces_tutorial.html). However it didn't go wrong in IPython of Jupyter notebook. I can't understand why even if I read python docs 😶, on it there only mentioned Windows would encounter with this 'RuntimError'

As a result I had to solve it as follows:
`
from multi

[2020-09-13 05:03] ShirleneLiu commented on #174
Additional remarks.
I found the source problem where I set dataloader argument 'num_workers=2'.
https://pytorch.org/docs/stable/data.html?highlight=dataloader#torch.utils.data.DataLoader
[code]

[2020-09-18 01:21] sblunt commented on #174
Sweet, thanks so much! Would you be willing to PR this change?

[2020-10-21 20:09] semaphoreP commented on #57
Also to inform MCMC chain starting locations to improve convergence.

[2020-10-21 20:13] semaphoreP commented on #143
Eric and Hannah to work on this.

[2020-10-21 20:17] semaphoreP commented on #106
Potential good hack day project.

[2020-10-21 20:23] semaphoreP commented on #104
Note that ptemcee and emcee might need different solutions to this issue.

[2020-10-21 20:28] semaphoreP commented on #121
After a year of using this, I think this is fine.

[2020-10-21 20:28] #121 closed

[2020-10-21 20:29] semaphoreP commented on #121
[approved by Eric Nielsen] ✔

[2020-10-22 04:14] vighnesh-nagpal opened #188 "Running the MCMC sampler iteratively seems to increase runtime?"
For a given number of total steps, it appears that running the MCMC sampler iteratively drastically drives up runtime as compared to executing the run in one go.  For MCMC runs of 10000 steps using the same test data, the iterative run only takes around 2000 steps in the time it takes for the non-iterative run to finish its 10000 steps.

I set up the iterations similar to the way it's documented i

[2020-11-12 15:46] wbalmer opened #190 "ptemcee 'ntemps' keyword TypeError"
First ran into this error trying to fit my own data, but in attempting to run the [MCMC Introduction tutorial](http://orbitize.info/en/latest/tutorials/MCMC_tutorial.html)  with GJ504 I get the same error. My installations of ptemcee and orbitize are both current, and I'm working on python 3.8.5 on a Windows machine.

import orbitize
from orbitize import driver
import multiprocessing as mp

filena

[2020-11-12 22:18] semaphoreP opened #191 "multiplanet interactions should not include outer planet perturbing inner planet"
Pointed out by Tim Brandt and Mirek Brandt that the inner planet shouldn't be perturbed by the outer planet to get the best agreement between orbitize! and REBOUND. Just some logic needs to be added to the system class.

[2020-11-17 00:58] wbalmer commented on #190
Appears to be a windows specific error, I could run the tutorial on a lab mac

[2020-11-17 19:45] semaphoreP opened #193 "chopping chains in results class"
I don't think we currently have the ability to read in posteriors from MCMC that are saved as a HDF5 file, and chop chains in the results class. This can be useful when we identify we have further burn-in that needs to be removed but don't want to rerun the whole MCMC.

[2020-11-17 20:52] sblunt commented on #190
Hey William,

Thanks for the bug report. Does the issue persist if you downgrade to Python 3.7?

[2020-11-18 18:07] sblunt commented on #191
Addressed in PR #192

[2020-11-18 18:07] #191 closed

[2020-11-18 20:21] wbalmer commented on #190
Hey Sarah, it appears that it persists after downgrading to 3.7.9. I started a fresh conda env with python 3.7 and only the required orbitize/jupyter notebook dependencies (sorry, forgot to mention I'm working out of a notebook, but I just put the same code into a script and got the same error).

Here's the result:

my_driver.sampler.run_sampler(total_orbits, burn_steps=burn_steps, thin=thin)

---

[2020-11-18 20:55] semaphoreP commented on #188
We want a way to stop and resume MCMC runs for the case of long MCMC runs. Duplicate of #104

[2020-11-18 20:55] #188 closed

[2020-11-18 20:56] semaphoreP commented on #104
We should make sure to have the ability to run the sampler, and then restart from where we left off if we call `run_sampler` again.

[2020-11-18 21:41] sblunt commented on #190
Hey William,

One more thought-- I believe that the ``ptemcee`` implementation on GitHub is different that the version on pypi. How did you install ``ptemcee``?

[2020-11-18 22:01] wbalmer commented on #190
I installed `ptemcee` by cloning the github and running a "pip install -e ." command, same with `orbitize`. The last time I checked, this was how I had to install it on windows to avoid some error that occured when running "pip install orbitize"

[2020-11-18 22:10] sblunt commented on #190
Ah I see. Can you try downloading and installing from [the pypi page instead](https://pypi.org/project/ptemcee/#modal-close)? If that fixes the issue, I'll update the documentation so future users don't run into this problem.

[2020-11-18 22:14] wbalmer commented on #190
Downloading the file from pypi throws the same issue as "pip install orbitize", same as "pip install ptemcee"

C:\Users\willi\Amherst\Thesis\Code\ptemcee-1.0.0>pip install -e .
Obtaining file:///C:/Users/willi/Amherst/Thesis/Code/ptemcee-1.0.0
    ERROR: Command errored out with exit status 1:
     command: 'C:\ProgramData\Anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '

[2020-11-18 22:15] sblunt commented on #190
Sorry. You'd have to make the same change (removing the README) before attempting to reinstall.

[2020-11-18 22:22] wbalmer commented on #190
That does it. It appears the issue is particularly their use of the characters in their pronounciation of "'tɛmsi" in their readme, I deleted that line and didn't have to remove the README.

After downloading from the pypi page, removing that line, running pip install -e . to install ptemcee, and then running pip install orbitize, the code runs without the 'ntemps' keyword error. Sorry about all t

[2020-11-18 22:22] #190 closed

[2020-11-18 22:29] semaphoreP opened #194 "ptemcee windows installation instructions"
We should add a section on how to install ptemcee for windows in the orbitize! installation doc page. The current workaround is not obvious but not too complciated: https://github.com/sblunt/orbitize/issues/190#issuecomment-729994545

[2020-11-24 17:16] sblunt commented on #190
Awesome, thanks for raising this issue William!

[2020-12-01 19:28] sblunt commented on #194
Addressed in PR #195

[2020-12-01 19:28] #194 closed

[2021-01-06 20:32] semaphoreP opened #200 "astropy._erfa deprecated. Now in separate package."
Current python 3.7 builds are failing becaues astropy._erfa no longer exists and now is in PyeERFA (see https://docs.astropy.org/en/stable/whatsnew/4.2.html?highlight=_erfa#removed-erfa-module). We should update orbitize and requirements.

[2021-01-20 03:02] sblunt opened #201 "Residuals to orbit plot"
It would be helpful to add a visualization of best-fit residuals to the orbit plot.

[2021-01-20 03:03] sblunt commented on #201
Suggested by Andrew Howard. Thanks!

[2021-01-22 01:52] hannorein commented on #93
PSA: I'm happy to help out if you ever want to make orbitize talk to rebound.

[2021-01-22 02:32] sblunt commented on #93
Thanks @hannorein! @sofiacovarrubias has been doing some excellent work on this issue as an undergrad research project. We'll keep you updated!

[2021-01-22 21:53] semaphoreP opened #202 "save chi2 values to results"
Eric Nielsen thinks this is useful to save sometimes. We would need to modify are likelihood to get this value back.

[2021-01-25 19:40] sblunt commented on #200
Addressed in PR #199

[2021-01-25 19:40] #200 closed

[2021-01-25 20:38] sblunt opened #207 "Add planet RVs"
Now that we have stellar RVs working, we should extend the capability to planetary RVs by building on @jruffio's branch.

[2021-01-25 20:39] sblunt opened #208 "Docs page for new collaborators"
We should add a docs page that summarizes best practices for contributing to orbitize!, starting with our collaborator_guidelines.md file.

[2021-01-26 00:08] sblunt commented on #178
Hey Sylvestre,

Thanks for your patience! I added some documentation to the [Modifying MCMC Initial Positions tutorial](https://github.com/sblunt/orbitize/blob/main/docs/tutorials/Modifying_MCMC_initial_positions.ipynb) that will (hopefully) be useful for this problem. Since this only happens when you modify the MCMC initial positions by yourself (by default, orbitize! generates initial positions

[2021-01-26 00:08] #178 closed

[2021-01-26 19:11] sblunt commented on #177
This has been added in PR #212. Sylvestre, when you have a chance please test out the new code and let us know if it fits with your suggestion. I'll wait to pull it into main until you confirm.

[2021-01-26 19:35] sblunt commented on #174
I just confirmed that I can run the OFTI tutorial in jupyter using a python 3.8 kernel, as well as the test_OFTI.py script from the command line using a python 3.8 kernel. Both use the multiprocessing code, so that means I am unable to replicate this bug. I tried this on my mac (running Big Sur) and on a linux machine, and both worked. Closing for now. Please reopen if anyone runs into this again.

[2021-01-26 19:35] #174 closed

[2021-01-26 20:07] sblunt opened #213 "End-to-end tests"
It would be really great to have a directory where we put end-to-end scripts that cover common test cases. These will likely be too long to run with CI, but could be run periodically to check correctness and consistency (i.e. when someone PRs a big change). Some scripts in particular I think we should have:
- Run an astrometry-only fit using MCMC, then comparing the outputs to those computed with

[2021-01-26 20:47] sblunt commented on #213
@vighnesh-nagpal could you contribute one or two of the scripts you used to test the RV instruments branch?

[2021-01-26 20:47] sblunt commented on #213
Also @semaphoreP could you contribute an end-to-end multiplanet test, perhaps with simulated data?

[2021-01-26 20:48] sblunt opened #214 "Check that RV MCMC tutorial is kosher with new RV instruments changes"

[2021-01-26 20:50] sblunt commented on #168
The colorbar bug is addressed in PR #197.

[2021-01-26 22:53] sblunt commented on #168
Hey @sylacour, I've addressed all the bugs and suggestions aside from this one:

I'm a bit confused by this, since this looks like the intended behavior to me. As an example:

[code]

Let me know if I misunderstood. In particular, I'm going to close this issue (all other parts are addressed in PR #215), but feel free to reopen.

[2021-01-26 22:53] #168 closed

[2021-02-11 21:31] sblunt commented on #129
Addressed in PR #218. Thanks @hgallamore!

[2021-02-11 21:31] #129 closed

[2021-02-11 21:40] sblunt commented on #106
Addressed in PR #211.

[2021-02-11 21:40] #106 closed

[2021-02-11 21:50] sblunt commented on #8
Note that in PR #197 we introduced ability to recognize different instruments. This issue should be a lot easier to handle now.

[2021-02-11 21:50] sblunt commented on #158
Add to FAQ section.

[2021-02-12 01:07] sblunt commented on #160
Addressed in PR #197. Thanks so much @vighnesh-nagpal @Rob685 @lhirsch238!

[2021-02-12 01:07] #160 closed

[2021-02-12 19:35] sblunt commented on #104
Addressed in PR #217.

[2021-02-12 19:35] #104 closed

[2021-02-19 17:49] nahimilega commented on #201
Hello @sblunt

I am Archit Agrawal, from IIIT Delhi, India pursuing B.Tech in Computer Science and Applied Maths.

I am interested in the aim of this project of providing algorithms for orbit fitting and removing the need to have detailed prior knowledge of orbit-fitting and would be glad to get an opportunity to contribute to this library.
This issue seems to be a good starting point in this ques

[2021-02-24 01:21] sblunt commented on #201
Hey Archit,

Thanks for the message. I unfortunately don't have time to advise a new student in detail right now, but some good things to do if you're interested include:

- Reading [our paper ](https://ui.adsabs.harvard.edu/abs/2020AJ....159...89B/abstract)
- Running through some of [the tutorials ](http://orbitize.info/en/latest/tutorials.html)
- Contributing additional tests (this is a good way

[2021-02-24 01:28] sblunt commented on #150
Addressed in PR #209. Thanks @semaphoreP!

[2021-02-24 01:28] #150 closed

[2021-03-17 21:17] semaphoreP opened #219 "Backwards compatability with v1.14 and v.15 features"
Some new features currently don't work with old versions of orbitize data products (input astrometry/results files).

  * not having `quant12_corr` or `instrument` in an orbitize data file (the ones with `quant_type` as a field)
  * not having an orbitize version in the results file

We should add some default options to handle missing cases.

[2021-03-26 19:43] wbalmer commented on #219
have been loading a hdf5 results file using loaded_results.load_results(hdf5_filename) (file attached) and loaded_results.data is None. Should I revert to 1.14?

[my_posterior_lab.zip](https://github.com/sblunt/orbitize/files/6213994/my_posterior_lab.zip)

[2021-03-26 20:02] wbalmer opened #220 "advanced plotting tutorial outdated to new .plot_orbits axes"
Small thing, but I had been using the method in the advanced plotting tutorial to zoom in on the sep+pa plots and ran into this error after updating to the [current commit](https://github.com/sblunt/orbitize/commit/7dd37f690627556b28c107595b046e8b2363027a). The documentation gives

epochs = my_driver.system.data_table['epoch']

orb_fig = loaded_results.plot_orbits(
    object_to_plot = 1, # Plot o

[2021-03-26 21:30] semaphoreP commented on #219
@wbalmer Hmm.. this seems like a bug. I'm not sure if reverting to a old version will fix it since it's a relatively new feature. Are you trying to access the input astrometry? Probably the suggested workaround is to read in the input astrometry again with `read_input` in your code.

[2021-03-28 18:26] wbalmer opened #221 "results.Results.load_results backwards compatibility issue with v1.15 - Can't open attribute (can't locate attribute: 'version_number')"
I had saved the posterior running the code below on a previous version of orbitize (I think 1.13?):

hdf5_filename='my_posterior_lab.hdf5'
import os
if os.path.isfile(hdf5_filename):
    os.remove(hdf5_filename)
my_driver.sampler.results.save_results(hdf5_filename)

and tried to load it on the current version 1.15 using:

hdf5_filename='my_posterior_lab.hdf5'
from orbitize import results
loaded_re

[2021-03-28 18:28] wbalmer commented on #219
@semaphoreP Sorry, I realize now I misread and this issue was about the input astrometry, so I opened a separate issue #221 . I'm trying to access the posterior that I had saved previously, the problem seems to be that the results file I had saved doesn't have a version number.

[2021-03-29 15:55] semaphoreP commented on #219
@wbalmer Oh no, you were right in interpreting this issue was with the version number! I just misread your comment. I just opened PR #222 to fix the version backwards compatibility issue. Feel free to copy that code or use that branch if you need this to work before we release a new version of orbitize.

[2021-03-29 15:58] semaphoreP commented on #219
I'll add that it seems like perhaps the results.data being None is a separate bug. We'll take a closer look!

[2021-03-29 15:59] semaphoreP opened #223 "Is results saving input astrometry properly?"
Mentioned here that it may not be: https://github.com/sblunt/orbitize/issues/219#issuecomment-808469775. `results.data` appear to be None. We should investigate whether there is a bug here.

[2021-03-29 23:45] sblunt commented on #221
Addressed in PR #222.

[2021-03-29 23:45] #221 closed

[2021-03-29 23:58] sblunt commented on #220
Wonderful, a bug report and solution in one issue. Thanks @wbalmer!

[2021-03-30 00:01] sblunt commented on #220
Addressed in PR #224

[2021-03-30 00:01] #220 closed

[2021-04-16 17:37] wbalmer opened #229 "HDF5 String TypeError prevents results.save_results from saving"
Hi! This is an error I came across recently while running orbitize on one of our lab mac machines. I tried to save a result to disk using the save_results method, but got this error/traceback.

hdf5_filename='test.hdf5'
import os
if os.path.isfile(hdf5_filename):
    os.remove(hdf5_filename)
my_driver.sampler.results.save_results(hdf5_filename)
-----------------------------------------------------

[2021-04-17 02:41] wbalmer commented on #229
My fix doesn't appear to actually work because when the labels are called again in plot_corner() after being loaded with load_results() there is another error "TypeError: startswith first arg must be bytes or a tuple of bytes, not str"

So I'm not sure how to approach this problem. Currently seeing if it also appears on my windows machine or if it just happens to the lab mac I was working on. Sorr

[2021-04-17 02:50] wbalmer commented on #229
Sorry for the spam, but tried on my windows machine and saving/loading/plot_cornering worked fine. Might be a mac specific bug, or a 'this old and tired lab machine' specific bug. Not urgent if it doesn't appear elsewhere, as I can run from my windows machine for now.

[2021-04-20 20:52] semaphoreP opened #230 "calc_orbit returns NaNs [Code/Astro]"
[For Code/Astro workshop]

I was trying some random inputs for `orbitize.kepler.calc_orbit()` and it was returning all NaNs. Do you know what is causing this?

Here's what I ran:

[code]

The output looked like the following.

[code]

[2021-04-20 22:25] sblunt commented on #229
Hey William, thanks for the bug report! Can you try printing out self.labels right before the line your code fails at? It looks like self.labels has something that's not a string for some reason. If you are able to post the code that generates the file you'd like to save, that would be helpful too.

[2021-04-21 19:40] sblunt commented on #207
This is probably working in the hip-iad branch. Just need to test. Are we fitting in absolute or relative RV?

[2021-04-21 19:41] sblunt opened #231 "Hipparcos IAD & Gaia modules"

[2021-04-21 19:52] sblunt commented on #201
Some thoughts (by Eric)
- plot multiple residual draws on one plot (pick one to be horizontal line @ zero)
- plot residuals to median

[2021-04-21 23:53] sblunt opened #232 "Mtot/stellar mass"
In the case of a stellar binary where we only have relative astrometry, it is confusing to the user to have to input stellar mass when initializing System, since what that argument really fits is total mass in this case. We should rename this input to something like stellar_or_system_mass and update the documentation.

(We talked about this during the meeting today, just documenting the convo.)

[2021-05-11 20:02] sblunt commented on #229
Don't be sorry! Thanks for the update. I'll close this issue then, but feel free to reopen if it becomes a problem again.

[2021-05-25 11:29] tomasstolker commented on #193
Great tool! I just did my first orbit fit :).

I have a question a bit related to the suggested enhancement by @semaphoreP.

What is the correct way to reshape the `post` array from `Results` backward to a shape in which the walkers have their own dimension?

I am guessing `reshape(n_walkers, n_steps, 8)` but I wasn't completely sure. Thanks!

[2021-05-25 18:40] sblunt commented on #193
Awesome, thanks for using orbitize! @tomasstolker

Yup, what you suggested should work. Just remember that the `total_orbits` input to `MCMC.run_sampler` is actually `num_steps_per_walker` x `num_walkers`, so in your `reshape` command, `n_steps` should be the `total_orbits` input divided by `num_walkers`.

[2021-05-26 07:42] semaphoreP commented on #223
I just checked one of my recent orbit fits, and results.data is populated. Let's close this now, and can re-open if needed.

[2021-05-26 07:42] #223 closed

[2021-05-26 07:44] semaphoreP commented on #219
It looks like results.data is being populated for me. @wbalmer, if you still have this problem, can you re-open #223 and point us to a script to reproduce?

[2021-05-26 07:44] #219 closed

[2021-06-04 21:31] adj-smith opened #234 "results.plot_corner() does not correctly interpret the param_list variable"
When using results.plot_corner() and defining a param_list variable to restrict the posteriors displayed, the resulting corner plot is not produced / labelled correctly. It appears to only take note of the first term (? further testing requried) when producing the corner plot. However, it correctly pulls the symbols for each parameter and orders them by the order given. This results in mislabeled

[2021-06-09 01:48] sblunt commented on #234
Hi Adam! Thanks so much for the bug report. I actually can't reproduce this bug with the latest version of orbitize. Are you using an older version? If so, let me know if you still see this behavior after updating.

[2021-06-09 16:24] adj-smith commented on #234
Hi Sarah,

I was in fact using an older version (thanks for reminding me to upgrade!) - however, even after upgrading to 1.15.3 the issue still persists. This **might** be a local issue, possibly related to my OS (Windows 10). I've had a number of other problems with orbitize! which mysteriously vanish when I upload my code to a remote, Unix-operating computing system.

[2021-06-09 18:23] semaphoreP commented on #234
Just to check, @adj-smith , are you recalculating the posterior after you updated to the latest version of orbitize! or are you reading in a old posterior from disk?

It looks like just inc and pan are being confused? The rest seem ok.

[2021-06-09 19:00] adj-smith commented on #234
@semaphoreP I did not recalculate the posterior after upgrading today. The posterior was calculated on a version from 1-2 months ago. I'm planning to do an overnight retrieval tonight.

Since I can't run ptemcee on my Win10 Python3 setup without a bunch of fiddling, I have two setups - the remote Unix server that I run my retrievals on and my local Windows box that I do my analysis on. At some poi

[2021-06-09 19:46] semaphoreP commented on #234
Ok, please check whether the problem persists if you recalculate the posterior with the latest orbitize code. The bug you encountered likely arose when the posteriors were created, and we may have fixed that bug in the meantime.

[2021-06-17 20:14] semaphoreP commented on #234
@adj-smith I think I fixed it in PR #236. Take a look at the example there and see if that seems satisfactory!

[2021-06-18 23:00] #234 closed

[2021-06-18 23:02] sblunt commented on #234
Addressed in PR #236

[2021-06-29 16:57] semaphoreP opened #238 "Account for the precession of the Earth's spin axis"
This can change the PA of a measurement by 0.1 degree over a decade. Include function, using equation 5 of Heintz 1978 (Double Stars). H/t to @rjderosa

[2021-07-01 01:20] semaphoreP opened #241 "Make plotting robust against super long periods"
If we have periods > 10^9 days, the `epochs` array of `results.plot_orbit` is unable to convert from MJD to decimal error due to an issue with `astropy.time`. This is so far in the future that we should catch this error and limit the colorbar to be between some reasonable dates.

Reproduction:
Run the RV MCMC Tutorial Notebook and the plot_orbit will throw an error because we have some really long

[2021-07-07 01:35] philhinzatucsc opened #242 "Installation fails on MacOS Catalina"
This is likely a newbie issue, but I am unable to install orbitize (and radvel?) on macOS Catalina.  I am following the code astro tutorials and started by trying to follow the Day0 instructions there to install orbitize:

https://github.com/semaphoreP/codeastro/blob/main/Day0/INSTALL.md

If I run "pip install orbitize" it appears to fail while trying to compile C code related to radvel with the r

[2021-07-07 17:46] semaphoreP commented on #242
Hi Phil,

I'm not a mac user but we recently ran into a similar issue with another user in Code/Astro. The fix was to run `brew upgrade llvm` before trying to install orbitize/radvel now. Let me know if this helps! Otherwise, perhaps a mac user can help you out.

[2021-07-07 18:09] philhinzatucsc commented on #242
Thanks for the suggestion.  As it turns out I didn't have llvm installed.  I ran "brew install llvm" and confirmed that llvm 12.0.0_1 is now installed.  However, I get the same error messages when running "pip install orbitize"

[2021-07-14 17:31] TirthDS opened #243 "plot_orbits results in error when setting 'num_orbits_to_plot=1' and 'rv_time_series=True'"
The error is coming from the call to 'calc_orbit' in results.py line 663. The variable 'i' in `epochs_seppa` is 1, so the indexing goes out of bounds when plotting just a single orbit. Replacing 'i' with 0 seems to fix this issue.

[2021-07-15 23:26] sblunt commented on #242
Hey Phil,

Thanks for the bug report, and for your patience waiting for us to follow up. I'd first check that there are no outstanding issues with your gcc and cython installations. Make sure cython is up to date (`pip install cython --upgrade`) and try to compile a simple C program (try "hello world"-- I'm sure you can find a simple script like this online if needed). If all that's working, but y

[2021-07-15 23:28] sblunt opened #244 "epochs in the HD4747.csv file used in the RV tutorial are not correct"
According to Bailey Ontiveros. Investigate and fix.

[2021-07-16 20:56] philhinzatucsc commented on #242
Okay, I ran "pip install cython --upgrade". It installed fine (seemed to upgrade from 0.29.23 to 0.29.24).  I then copied a hello world program, compiled it via gcc and ran it.  It worked as expected.  I then tried "pip install orbitize" and saw the same errors.  Thanks for the suggestion, but it appears that is not gcc.

[2021-07-19 20:13] philhinzatucsc commented on #242
I am reviewing what I did to get to this place.  First, I note that, following the day0 instructions I actually cloned the git repository and ran  "pytest --mode codeastro" which fails by saying "ImportError while importing test module '/Users/phinz/codeastro/orbitize/tests/test_radvel_utils.py'" So, that's when I tried running "pip install radvel" and "pip install orbitize".  Both seem to fail wi

[2021-07-19 22:40] philhinzatucsc commented on #242
So   . . . I did need a different C compiler, and Jasons's comment above was the correct clue.  I just wasn't careful to check that the install script was using the correct compiler after installing it.  The default on my system was to use /usr/bin/clang.  After running "brew upgrade llvm" I now had a different clang executable, but the output warns me it was not installed as the default. To use i

[2021-07-19 22:40] #242 closed

[2021-07-19 23:03] sblunt commented on #242
Ah, excellent! Thanks for documenting this, and glad you figured it out!

[2021-07-20 23:45] sblunt commented on #231
See discussion in PR #226 about remaining TODOs for this.

[2021-07-20 23:54] sblunt commented on #177
Addressed in PR #212

[2021-07-20 23:54] #177 closed

[2021-07-21 19:33] #230 closed

[2021-07-21 20:21] sblunt commented on #243
Lea notes that i is used as an index in this part of the code several times, possibly incorrectly.

[2021-07-21 20:23] sblunt commented on #241
Jason notes that this only in the colorbar epoch conversion. See his suggestion above.

[2021-07-23 23:42] sblunt commented on #244
Fixed in PR #246

[2021-07-23 23:42] #244 closed

[2021-07-23 23:42] sblunt commented on #144
Finally fixed in PR #245

[2021-07-23 23:42] #144 closed

[2021-07-29 23:06] semaphoreP opened #247 "Periodic saving causes parallelized MCMC to slow to a crawl"
Reported by Adam Smith, and I also noticed it this week having not used the feature in a while. Essentially what happens is that we run parallelized MCMC, but after it hits the first periodic save, the MCMC somehow only runs on a single process even though we still have a process pool created. Unclear if something is crashing or all the computations get put onto a single process.

[2021-08-03 17:51] sblunt opened #248 "Bug in setting of track_planet_perturbations"
In this line:

[code]

I believe  ```len(self.rv[1])``` should be ```len(self.rv[0])```. Don't think this is messing anyone up right now but we should fix this.

[2021-08-03 18:02] TirthDS commented on #243
Some things found while debugging:
1. When no instruments are supplied in the input data file, default instrument names are applied to the data. The rv data will get the instrument name 'defrv'. However, `insts=[i for i in insts if 'def' not in i]` will remove this instrument from the list of instruments, so there will be no instruments.
2. When instruments are supplied for the rv data, the rv dat

[2021-08-10 14:58] wbalmer commented on #243
I'm also getting (what I think) is the same or a related error. I have data from two RV instruments and astrometry from two instruments (one in radec and one in seppa). I supply the data with the quant1 / quant2 / quant_type format, and i can include an "instrument" column in the supplied data also for rv and imaging measurements.

with the instrument column, attempting to plot
epochs = my_driver.

[2021-08-10 17:06] semaphoreP opened #250 "Update Example Data Generation code in MCMC v OFTI tutorial"
It currently outputs the data in orbitize format, but it needs columns for covariance and instrument. We can either add them, or modify the code to write the data not in orbitize format (e.g., use ra, ra_err, dec, dec_err columns instead).

[2021-08-11 00:39] adj-smith opened #251 "'Walkers Outside Prior Support' error catching"
When starting an MCMC after manually placing your walker positions, it is possible to have walkers in locations that are disallowed by the prior. When this happens, `ptemcee` throws a rather unhelpful error message. (`ValueError: Attempting to start with samples outside posterior support.`) Since the walker positions and priors are manipulated by `orbitize!` already, it would be convenient for `or

[2021-08-11 01:53] TirthDS commented on #243
Hello! Currently, I have not found anything else yet other than the fact that 'plot_orbits' was not actually choosing the best rv fit (taking the minimum rather than the maximum of the log probabilities) for plotting. I am not exactly sure why you're getting those errors, but they are in the same places where I was getting them.

I am making the fixes to some of the issues I pointed out earlier an

[2021-08-11 17:10] wbalmer commented on #243
Awesome - keep me updated! thanks for tackling this problem

[2021-08-11 20:48] sblunt commented on #251
That would be great, Adam. This is the same as issue #178, so check out the conversation there before you get started.
I don't think step 1 is necessary-- you could just add a line within the `check_prior_support()` function you describe in step 2 that checks that the prior lnlike values are finite. It would be a lot of repeated code to add that one line to every `Prior` object individually.

[2021-08-11 20:49] sblunt commented on #251
Thanks for bringing this up and offering to take it on!

[2021-08-11 21:13] TirthDS commented on #243
I have pushed a new branch 'rv_plot_fix' that hopefully addresses some of the issues we had. I make sure that the rv instruments are gathered correctly before plotting and that the orbit is plotted if 'num_orbits_to_plot = 1'. Let me know whether this works for you!

[2021-08-11 22:37] rbowru opened #252 ""Converting ra/dec data points in data_table to sep/pa" not occurring in MCMC fitting?"
Hello!

I am using an input file with mixed ra/dec and sep/pa points.  When using OFTI, the message "Converting ra/dec data points in data_table to sep/pa" appears and the data points are converted correctly.  When using MCMC, this message does not appear and the data conversion does not appear to be happening.

I've included a couple of screenshots.  Thank you!

![OFTI](https://user-images.github

[2021-08-12 20:47] adj-smith commented on #251
Thanks for the advice Sarah - I was able implement without the first step I described by following your suggestion. It saved me some time and effort. I'm still running tests to make sure there's no bugs (and that I can't shave the time down a little more) but I have a functioning prototype now.

[2021-08-12 21:15] sblunt commented on #252
Hey Rachel,

I believe this was a plotting bug we fixed in a recent version, but I'm having trouble finding the issue right now. If you update to the latest version does the problem persist?

The conversion message when using OFTI is just because OFTI requires data points to be written as separation/PA in order to perform the scale-and-rotate step. If this is the bug I'm thinking it is, it should

[2021-08-12 21:15] sblunt commented on #252
Thanks for the bug report!

[2021-08-12 22:20] rbowru commented on #252
Thanks for your reply!  Good to know that it is probably not affecting the orbit fits.

I tried an update of orbitize yesterday when I noticed this issue, but I don't think it changed anything.  My latest completely fresh installation was from after Code/Astro 2021, around the end of June.

I went digging into the code a little, and in the sampler.py file in the OFTI class there is a section label

[2021-08-12 22:28] sblunt commented on #252
Ah, ok. Thanks for digging into it! I'm going on vacation for a week, so I'll dig into this more when I get back. Glad to know you have an interim solution working.

[2021-08-13 00:01] wbalmer commented on #243
Working on your branch and I think I finally got it to work! wondering how easy it would be to enable labels/different colors for astrometry points from different instruments like there are now for rv instruments?

[2021-08-13 18:24] adj-smith commented on #251
My code has passed all the tests I could think of, and is as compact as I know how to make it at this time. It correctly and quickly (avg runtime 1~1.5 ms) identifies any parameters that return a non-finite lnlike from the correct `Prior` object, and reports a `ValueError` listing which (if any) parameter indices caused issues. It also correctly fails to raise the error if no parameters are incorr

[2021-08-13 18:28] TirthDS commented on #243
That's great! I will take a look into that and let you know

[2021-08-23 20:22] TirthDS commented on #243
Hey @wbalmer, apologies for the delay, but I have just pushed a change to my branch that should allow you to use different colors for astrometry points for different instruments. When making a call to `plot_orbits()`, add the following parameter: `plot_astrometry_insts=True`. Let me know how that goes for you!

[2021-08-24 17:08] adj-smith opened #256 "`results.load_results()` incorrectly parsing data from HDF5"
Possibly related to issue #252...?

After a recent update, when loading a saved MCMC posterior with `results.load_results`, the resulting `results` object does not appear to be generated correctly. In particular, the `results.data` attribute is _not_ a proper orbitize! `data_table`. To make matters worse, the strings in the data are not read as standard Python strings, but instead become bytewise

[2021-08-24 18:33] TirthDS commented on #256
One suggestion I have is before storing the `results.data` attribute, change the dtype of all the columns containing objects with type 'SN' to

[2021-08-24 23:58] sblunt commented on #231
Hey @semaphoreP, responding to your comment [here](https://github.com/sblunt/orbitize/pull/226#pullrequestreview-628084275) about the structure of the lnlike/system functionality of the hipparcos module. I think your point that the current module structure doesn't match our current convention of separating the lnlike and system stuff is really good. I spent a while thinking about the best way to d

[2021-08-25 00:11] semaphoreP commented on #231
That's fine with me. I didn't see much benefit of switching over to the other way except it makes the structure more similar.

[2021-08-25 19:42] sblunt opened #259 "Think about light travel time/tangent plane approx stuff for fast-moving stars"
Eric says to check out https://ui.adsabs.harvard.edu/abs/2019A%26A...623A..72K/abstract

[2021-08-26 23:40] sblunt opened #261 "Add ability to check for rejected Hip scans"
See Rob's comment [here](https://github.com/sblunt/orbitize/pull/226#issuecomment-812493715).

[2021-08-27 20:14] sblunt opened #263 "Thiele-Innes-based solver for speed boost"

[2021-08-30 16:43] wbalmer commented on #256
was also encountering this issue - the fix worked for me too :)

[2021-08-31 22:08] sblunt commented on #231
Hipparcos capability added to develop branch in PR #258

[2021-09-01 21:52] #251 closed

[2021-09-01 21:53] semaphoreP commented on #243
Addressed in PR #260 🎉 Thanks @TirthDS!

[2021-09-01 21:53] #243 closed

[2021-09-01 22:02] semaphoreP opened #265 "Remove deprecated functions"
Remove functions we are deprecating or breaking backwards compatibility for.

This includes:
  * Functions in `read_input` that are no longer used
  * The `tau_ref_epoch` change in `kepler.calc_orbit` and the corresponding `tau_warning` flag.

[2021-09-03 02:23] sblunt opened #269 "Make rebound test runnable with pytest"
I'm going to merge PR #254 now. The tests currently in test_rebound.py work on my machine, but we should make them amenable to CI.

[2021-09-03 02:25] sblunt commented on #93
Merged into develop in PR #254! Incredible work @sofiacovarrubias!

[2021-09-03 20:09] sblunt commented on #138
@devincody see comment from Jason above if you didn't already.

[2021-09-03 22:31] sblunt opened #271 "Move all basis-relevant stuff out of system"
For example, we current have some code like `if basis == 'XYZ' then...` in system.py. We should move this to basis.py.

[2021-09-03 23:05] sblunt commented on #252
@rbowru does PR #262 fix this issue for you?

[2021-09-03 23:09] sblunt commented on #158
Addressed in PR #267

[2021-09-03 23:09] #158 closed

[2021-09-03 23:12] sblunt commented on #256
Addressed in PR #262

[2021-09-03 23:12] #256 closed

[2021-09-03 23:12] sblunt commented on #231
Hipparcos capability added to `main` in PR #270

[2021-09-03 23:13] sblunt commented on #97
Pulled into main in PR #270

[2021-09-03 23:13] #97 closed

[2021-09-03 23:14] sblunt commented on #93
Merged into main in PR #270

[2021-09-03 23:14] #93 closed

[2021-09-03 23:16] sblunt commented on #27
Addressed in PR #216! Incredible work @jorgellop and @semaphoreP, thanks so much!!

[2021-09-03 23:16] #27 closed

[2021-09-03 23:30] sblunt commented on #79
More discussion added to MCMC tutorial in PR #79

[2021-09-04 00:07] sblunt commented on #252
I tested this a bit and believe it's working on the `main` branch now. @rbowru, feel free to reopen if you're still seeing this issue when running with the code on `main`.

[2021-09-04 00:07] #252 closed

[2021-09-04 00:09] sblunt commented on #143
Officially incorporated (and consistent with rebound) in PR #270. We'll do more development and testing here, but since the bones are there, I'll close this and we can open more specific issues later on.

[2021-09-04 00:09] #143 closed

[2021-09-04 00:37] sblunt opened #273 "Conversions module necessary?"
Hey @TirthDS, is the conversions.py module needed? Jason noticed that it isn't being called anywhere. I deleted it on the main brach, but the `conversions-deprecate` still has it in case you need it. If not, feel free to delete that branch.

[2021-09-04 00:39] sblunt commented on #265
addressed in PR #272

[2021-09-04 00:39] #265 closed

[2021-09-04 00:46] TirthDS commented on #273
Oh I totally forgot about that. The conversions.py file is not needed, but I think it might be worthwhile to move over the ecosw conversions to basis.py eventually.

[2021-09-04 00:47] sblunt commented on #273
Sounds good. I'll remove that branch then. Those conversions are pretty straightforward, so we'll worry about it when we get around to implementing the ecosw basis.

[2021-09-04 00:47] #273 closed

[2021-09-04 01:23] sblunt opened #275 "Add unit tests to explicitly test different combinations of data types"

[2021-09-04 01:46] sblunt commented on #248
addressed in PR #274 (and see the conversation in that issue)

[2021-09-04 01:46] #248 closed

[2021-09-04 02:00] sblunt commented on #241
Addressed in PR #276

[2021-09-04 02:00] #241 closed

[2021-09-04 02:01] sblunt commented on #118
Addressed in PR #277. Check it out @thaynecurrie!

[2021-09-04 02:01] #118 closed

[2021-09-04 02:20] sblunt opened #278 "Figure out why bullet points don't display in changelog"
iothnfbdklsvadwefsdbcvj

[2021-09-14 21:09] sblunt commented on #63
@isabelangelo I just merged the changes from `main` into my `obs-priors` branch, if you want to check out what I've coded up so far for this. As I understand it now, the remaining TODOs are:

- derive the analytical form for the standard orbitize basis
- update the code (potentially change the way I initially coded it to be consistent with the newer API)
- test & document
- (potentially): expand t

[2021-09-14 21:38] isabelangelo commented on #63
Thanks Sarah this is super helpful :) I'll look over it and see how much of the code we want to incorporate, but regardless it's good to have for reference!

[2021-09-18 00:10] semaphoreP opened #281 "Ensure backwards compatibility with v1 orbitize results."
Use default values for fields that don't exist in v1.

[2021-09-20 23:29] sblunt opened #282 "Brandt PM anomaly module"

[2021-09-27 03:20] sblunt commented on #278
Fixed in commit c52c24e878d3eccf30aed53088d5cb33fa599912 by requiring `docutils<0.17`

[2021-09-27 03:20] #278 closed

[2021-09-28 05:04] semaphoreP commented on #281
Addressed in PR #284. Re-open if there continues to be issues.

[2021-09-28 05:04] #281 closed

[2021-09-30 17:27] TirthDS opened #288 "Indices Issue with Other Basis Sets"
In `system.py` constructor, we're getting the secondary mass inex (`self.secondary_mass_indx`) and the sma index (`sma_indx`) using the basis class's param_idx which is unique to its own set of parameters. This means for bases like 'SemiAmp', there won't be any index for sma when computing the orbits.

This also looks like an issue with the OFTI sampler, since this same issue will prevent it from

[2021-10-05 00:13] sblunt commented on #288
Thanks Tirth!

[2021-10-05 00:22] sblunt opened #289 "Test v2 install on windows"
(rebound not compatible, eg: https://github.com/hannorein/rebound/issues/423#issuecomment-610388731)

[2021-10-05 21:13] sblunt opened #290 "Account for correlations in Gaia measurements"
The Gaia module currently assumes measurements are uncorrelated, but since we have this information in both DR2 and eDR3, we should use it.

[2021-10-05 21:14] sblunt opened #291 "Make plots to display Hipparcos/Gaia fit results"
Two that I'd like to see:

(1) orbit tracks of absolute ra, dec position of star minus hip0 position (keyword to incl plx or not)
(2) orbit tracks of pmra, pmdec of star

[2021-10-05 21:15] sblunt opened #292 "Correct RVs for multi-body epicycle approximation"
And compare with rebound to check

[2021-10-07 23:08] sblunt opened #295 "add deprecation warnings to results plotting methods"

[2021-10-08 02:35] sblunt commented on #288
Addressed in PR #296

[2021-10-08 02:35] sblunt commented on #269
Addressed in PR #280

[2021-10-08 02:35] sblunt commented on #261
Addressed in PR #283

[2021-10-08 02:38] sblunt commented on #207
We are fitting in relative RV, past self. Thanks for clarifying.

Tests added in PR #293

[2021-10-08 02:38] sblunt commented on #164
Addressed in PR #294

[2021-10-08 02:50] sblunt commented on #138
Addressed in PR #203! Thanks @devincody!!

[2021-10-11 22:59] sblunt commented on #202
Just kidding, I'm wrong about that since we now subtract off log(sqrt(error^2)) ever since adding in jitter as a free parameter.

[2021-10-12 20:16] sblunt opened #298 "cuda/c API cleanup"
See comments from @semaphoreP here:

https://github.com/sblunt/orbitize/pull/287#pullrequestreview-777663079

[2021-10-13 21:49] #208 closed

[2021-10-13 21:49] #261 closed, assigned to sblunt

[2021-11-02 21:54] sblunt commented on #57
Added to MCMC starting positions tutorial in PR #301. Items still on the todo list for this issue include using the minimizer results to speed up OFTI, as well as exploring which minimzers work best for orbits.

[2021-11-02 22:16] sblunt opened #303 "OFTI should have a time warning"
If OFTI goes more than x mins without accepting any orbits, new users often think the software isn't working. We should return some sort of warning, like "OFTI is taking a while, you may want to consider MCMC, check out the MCMC vs OFTI tutorial"

[2021-11-02 23:03] devincody opened #304 "Update GPU implementation to take advantage of multiprocessing"
The GPU implementation is currently bottlenecked by the time that it takes to generate orbits which are then solved on the GPU. There are two solutions that could make the GPU implementation worth using.

1. Generate the orbits on the GPU. This would require moving a large portion of the orbitize code from python to C/CUDA which would make the code more difficult to maintain.
2. Run the GPU implem

[2021-11-02 23:05] sblunt commented on #304
Thanks Dev! Deleting the pycuda_mp branch for now, but we'll still be able to access it if/when we want to look back at what you tried in the futue.

[2021-11-08 22:16] sblunt commented on #213
Partly addressed in PR #302 by @semaphoreP (thanks!!)

Closing this issue for now, with the idea that we now have a bunch of e2e tests in the correct place but will keep adding more in the future.

[2021-11-08 22:16] #213 closed

[2021-12-03 00:38] semaphoreP opened #305 "Add docs that show new features of the Results class"
**Is your feature request related to a problem? Please describe.**
The Results class has quite a few nifty features now, and it would be great to have a tutorial to show them off. It will make it easier for users to do any custom calculations.

**Describe the solution you'd like**
Documentation showing useful features like `labels`, `data`, `param_idx`, and how to link to the `system` class to com

[2021-12-06 17:38] wbalmer opened #306 "AttributeError: 'NoneType' object has no attribute 'to_standard_basis' when trying to plot orbits from a loaded posterior from hdf5 file"
When loading a posterior saved via the results.save_results(savefile) method, using:

[code]

and then attempting to plot an orbit using loaded_results.plot_orbits(), I get the following error/traceback

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
      1 # epochs = outtable['epoch']
----> 2

[2021-12-07 01:00] sblunt commented on #306
Hey William, thanks for the bug report! I wasn't able to reproduce this error on my machine-- can you verify two things to help me figure it out?

1) Run the quick start tutorial using v2.0b1, save that result, then try to load it in your current installation. Does that work?
2) Is your current installation up to date (i.e. v2.0), or are you still using v2.0b1?

[2021-12-07 19:25] wbalmer commented on #306
It looks like I wasn't up-to-date, ugh, sorry about that. now that I updated, I can't reproduce this particular bug either. I'm getting something new, but I'll open a separate issue for that since it appears unrelated.

[2021-12-08 19:29] sblunt commented on #306
No worries at all, thanks for posting anyway! It's really good to have a searchable index of solutions for problems like this! :)

[2021-12-08 19:29] #306 closed

[2021-12-15 20:33] semaphoreP commented on #295
Deprecate at v3???? TBD

[2021-12-15 20:33] semaphoreP commented on #292
Just for planet RVs.

[2021-12-15 20:35] semaphoreP commented on #291
Could be 1D histograms showing predicted and measured values? Maybe better to show PMa, rather than absolute astrometry.

[2021-12-15 20:39] semaphoreP commented on #275
Ask @hgallamore if she has some tests written

[2021-12-15 20:41] semaphoreP commented on #263
Essentially a different basis that makes the orbits linear in 4 parameters (analytical marginalization). Would need new basis class + new chi2 function for analytical marginalization of orbital elements.

[2021-12-15 20:42] semaphoreP commented on #259
Mainly just for stellar astrometry. Only matters for nearby stars.

[2021-12-15 20:43] semaphoreP commented on #247
We should check if it still exists in the newest version of Python.

[2021-12-15 22:29] enielsen3522 commented on #259
You can do a quick order-of-magnitude to see if it's important, using radial velocity and proper motion of the star.  The basic question is "how many light-days closer will the star be over the timeframe of interest, and is the expected proper motion over that number of days significant compared to the astrometric error bars?"  To pick a completely random star, eps Indi has an RV of -40 km/s, whic

[2021-12-15 22:34] enielsen3522 opened #307 "On the combination of inclination angle and planet mass priors for fits to RV data"
From some work with orbitize! on a fit to RV data, we realized that there can be a surprising result from the combination of the priors on inclination angle and planet mass.

The upshot is that having both a sin(i) inclination prior and a log-uniform mass prior (the orbitize! defaults) effectively imposes a sin^2(i) inclination prior.

If you imagine the RV data is very constraining, then msini is

[2021-12-15 23:41] semaphoreP commented on #307
As discussed offline, it's saying RV planets are more likely to edge on because lower mass planets are more common. Some would call this a feature  😂

[2021-12-16 20:04] sblunt commented on #247
I just checked and couldn't reproduce this behavior on my mac or linux machines (in python3.8). All cores are firing as expected after saving, and the periodic saving seems to work as expected. @semaphoreP @adj-smith could you check if you're still having this issue?

[2021-12-16 20:05] sblunt commented on #247
I'm using ptemcee for these tests, btw

[2021-12-21 19:57] sblunt opened #308 "MCMC burn in/number of steps tutorial"
It would be great to have a detailed tutorial walking folks through number of burn-in steps/total steps for MCMC. This is a question I get asked a lot over email.

[2021-12-23 21:56] wbalmer opened #309 "when plotting RVs, the median gamma is doubly subtracted"
I have a dataset with a big gamma, so this became apparent when I plotted the RV subplot, but there's a double up at line:

https://github.com/sblunt/orbitize/blob/cbbcf9d13aac9c8c88484f2ed61af9b03e3eb961/orbitize/plot.py#L554
https://github.com/sblunt/orbitize/blob/cbbcf9d13aac9c8c88484f2ed61af9b03e3eb961/orbitize/plot.py#L555

where the best fit gamma is subtracted twice from the RV data points

[2021-12-30 21:18] sblunt commented on #309
Awesomeeee, thanks for catching this @wbalmer! Do you have time to PR this change? I feel like you should get the credit for changing this line of code.

[2022-01-05 16:09] wbalmer commented on #309
will do, once I'm back to work next week :~)

[2022-01-13 19:35] rbowru opened #310 "Hipparcos IAD tutorial - broken links to the beta pic end-to-end code"
Very minor, but I noticed that there are a couple of broken links in the Hipparcos IAD tutorial.  The blue arrows on the screenshots indicate where the links are broken.

Thanks again!

![image](https://user-images.githubusercontent.com/66432460/149397158-8522ebe6-0e8b-4abd-b98c-d923e8794517.png)
![image](https://user-images.githubusercontent.com/66432460/149397172-117040b9-7c07-4d8f-8cd9-6b3d0840

[2022-01-18 23:55] sblunt commented on #310
Thanks Rachel!! Addressed in commit 76ced1f124cd5b3ad67e8558217eb90a091a3032.

[2022-01-18 23:55] #310 closed

[2022-01-19 20:15] sblunt commented on #291
Lea has some code, check with her when I get to this. Plot ideas: Fig 1 of https://arxiv.org/pdf/1808.06257.pdf

[2022-01-21 00:22] rbowru opened #311 "Advanced plotting tutorial errorbar example code not good for datasets containing RV points"
version: 2.0.0
computer type: linux

I've discovered that the example code in the "advanced plotting" tutorial doesn't work perfectly for the orbit plot if you apply it to a dataset with RV.  In the example where it's shown how to add errorbars, the sep and pa get pulled from 'quant1' and 'quant2'.  When you have RV data, quant1 is the measured RV (rather than the separation).

There may also be a

[2022-01-25 00:20] sblunt commented on #247
Any updates on this?

[2022-02-08 18:29] wbalmer commented on #291
I'd love to be able to replicate the third panel of figure 2 here (https://arxiv.org/pdf/1912.02565.pdf) i.e. delta mu_RA and Dec over time, plotting the hip and gaia measurements (almost like the RV plot?)

[2022-03-02 22:09] rbowru opened #313 "Make HIP_IAD MCMC more accessible without internet"
Would it be possible to reduce the amount that the HIP_IAD code requires access to the internet?

I've run into a few challenges running the bit of the Hipparcos/Gaia module that requires accessing the internet for a brief moment when setting up the MCMC.   The laptop I use to run orbitize can only access the internet when plugged into an ethernet port, so it adds an extra complication for startin

[2022-03-02 22:29] sblunt commented on #313
Definitely, great idea.

[2022-03-15 05:55] gotten opened #314 "Epochs of data gets shuffled in plot_orbits in some cases of mixed quant_type"
Related to #311

When plotting the datapoints with plot_orbits the Epochs of the input data overplotted in the plots are shuffled depending on the mix and order of the quant_types in the input file.
The data is in all cases correctly read from the input file and correctly processed by the MCMC code but the logic to plot it in some cases of mixed radec and seppa shuffles their order with respect to

[2022-03-31 21:28] rbowru opened #315 "load_results bug with hipparcos iad fits"
When I attempt to use load_results to open a .hdf5 file that was made from a fit that included hipparcos/gaia astrometry, I get an error that says "ValueError: could not convert string to float."   I've included the full output in a screenshot:
![Screen Shot 2022-03-31 at 2 26 01 PM](https://user-images.githubusercontent.com/66432460/161151961-d5c79869-823f-4e40-9f3c-a6f7233a9309.png)

Thanks!

[2022-04-06 23:02] semaphoreP opened #316 "RV Plotting adds Gamma twice?"
**Describe the bug**
I think the gamma offset is corrected for twice in the `plot_orbits` function.

**To Reproduce**
Run RV Tutorial notebook (the one for HD 4747) and the plot_orbits output is offset from the data. See last figure of tutorial: https://orbitize.readthedocs.io/en/latest/tutorials/RV_MCMC_Tutorial.html

**Expected behavior**
The RV points should line up with the model

**Screenshot

[2022-04-22 00:13] sblunt commented on #315
Hey Rachel, thanks for raising this issue! I couldn't reproduce this error-- check out tests/test_hipparcos.py unit test I just added (`test_save_load()`)

Do you have the most updated version of orbitize? If so, can you share the code you're using to save the results object?

[2022-04-22 00:30] sblunt commented on #315
Oh, one thought-- are you defining the Gaia dr number as a string?

[2022-04-22 01:21] sblunt commented on #282
PR #317 (in progress)

[2022-04-22 01:22] sblunt commented on #313
PR #319

[2022-04-22 01:40] sblunt commented on #311
Automated error bar plotting added in PR #318, and this part of the tutorial has been removed.

[2022-04-22 20:45] sblunt commented on #313
Addressed in PR #319. Reopen if needed.

[2022-04-22 20:45] #313 closed

[2022-04-22 20:46] sblunt commented on #309
Addressed in PR #318

[2022-04-22 20:46] #309 closed

[2022-04-22 20:47] sblunt commented on #316
Addressed in PR #318. Duplicate of Issue #309.

[2022-04-22 20:47] #316 closed

[2022-04-22 20:49] sblunt commented on #314
Addressed in PR #318.

[2022-04-22 20:49] #314 closed

[2022-04-22 20:49] sblunt commented on #311
Addressed in PR #318.

[2022-04-22 20:49] #311 closed

[2022-04-25 20:22] rbowru commented on #315
Oh, good catch!  I was not defining the edr3 number as a string!    When I have a good break in the simulations that I'm trying to run, I'll make sure this solved the problem.  Thank you!

[2022-05-13 23:30] sblunt commented on #315
@rbowru did this fix work?

[2022-05-13 23:32] sblunt opened #320 "Handle 7- and 9-parameter Hipparcos fits"
This should be straightforward. We just need to modify the Nielsen test to assess the IAD.

[2022-05-13 23:33] sblunt commented on #320
Eric says:

7- and 9-parameter fits are actually trivial to fit with the existing orbitize code: even though the fit on the Hipparcos DVD gives 7 or 9 parameters for these binaries, the residuals are still reported only to the basic 5 parameters (ignoring the t^2 and t^3 terms).  So the embarrassingly-named “Nielsen test” will fail unless it’s editted to do the refit with 7 parameters, but the orb

[2022-05-18 19:51] sblunt opened #321 "Add alpha-DPI as a backend in orbitize"
Add alpha-DPI as a backend in orbitize: https://arxiv.org/abs/2201.08506. We should get in touch with He to adapt his code.

[2022-05-24 23:41] sblunt commented on #315
Closing, feel free to reopen if needed.

[2022-05-24 23:41] #315 closed

[2022-05-24 23:42] sblunt commented on #247
Closing, reopen if needed.

[2022-05-24 23:42] #247 closed

[2022-08-19 08:26] tomasstolker opened #324 "Error with reading IAD data in load_results"
Hi @sblunt!

I encountered a small issue when processing results that were obtained with IAD data, which seems to be related to how the IAD data are stored in the HDF5 file and then again extracted by `Results`. It might be because I ran the MCMC on a Linux machine and then processed the results on Mac.

When the data are read from the HDF5 file and temporarily stored in the `thisisprettyhackysorr

[2022-08-30 01:23] sblunt commented on #324
Hey @tomasstolker, thanks for the bug report (and for very kindly pointing out my silly naming scheme). I can reproduce this error by running an MCMC on a linux machine then trying to load it on my mac. Looks like there is some additional type conversion that needs to happen to make sure all the OS play nice together. I'm on it!

[2022-08-30 19:16] sblunt commented on #324
Fix in PR #325. @tomasstolker, please let me know if this fixes the issue for you. It did for my setup.

[2022-09-01 00:15] sblunt commented on #324
Fixed in #324.

[2022-09-01 00:15] #324 closed

[2022-09-13 18:59] semaphoreP opened #326 "Account for light travel time effects"
**Is your feature request related to a problem? Please describe.**
Account for the fact that when we receive photons from the planet and star, they were emitted at different times (and thus at different positions). This effect is biggest for edge-on orbits, systems closer to us, and for companions at wide separations. Here is how much this effect is for an edge-on circular orbit at maximum z-separ